Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2021-09, with the labels that each got.

#721 Make capabilities configurable
  README.adoc
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeProperties.java
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/EmbeddedAerospikeBootstrapConfiguration.java
  embedded-couchbase/src/main/java/com/playtika/test/couchbase/CouchbaseProperties.java
  embedded-couchbase/src/main/java/com/playtika/test/couchbase/EmbeddedCouchbaseBootstrapConfiguration.java
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/ElasticSearchContainerFactory.java
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/ElasticSearchProperties.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/KafkaContainerConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/SchemaRegistryContainerConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/KafkaConfigurationProperties.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/SchemaRegistryConfigurationProperties.java
  embedded-mariadb/src/main/java/com/playtika/test/mariadb/EmbeddedMariaDBBootstrapConfiguration.java
  embedded-mariadb/src/main/java/com/playtika/test/mariadb/MariaDBProperties.java
  embedded-memsql/src/main/java/com/playtika/test/memsql/EmbeddedMemSqlBootstrapConfiguration.java
  embedded-memsql/src/main/java/com/playtika/test/memsql/MemSqlProperties.java
  embedded-minio/src/main/java/com/playtika/test/minio/EmbeddedMinioBootstrapConfiguration.java
  embedded-minio/src/main/java/com/playtika/test/minio/MinioProperties.java
  embedded-mongodb/src/main/java/com/playtika/test/mongodb/EmbeddedMongodbBootstrapConfiguration.java
  embedded-mongodb/src/main/java/com/playtika/test/mongodb/MongodbProperties.java
  embedded-mysql/src/main/java/com/playtika/test/mysql/EmbeddedMySQLBootstrapConfiguration.java
  embedded-mysql/src/main/java/com/playtika/test/mysql/MySQLProperties.java
  embedded-neo4j/src/main/java/com/playtika/test/neo4j/EmbeddedNeo4jBootstrapConfiguration.java
  embedded-neo4j/src/main/java/com/playtika/test/neo4j/Neo4jProperties.java
  embedded-redis/src/main/java/com/playtika/test/redis/EmbeddedRedisBootstrapConfiguration.java
  embedded-redis/src/main/java/com/playtika/test/redis/RedisProperties.java
  testcontainers-common/src/main/java/com/playtika/test/common/properties/CommonContainerProperties.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/ContainerUtils.java
Labels: enhancement

#722 Embedded artifactory module
  README.adoc
  embedded-artifactory/README.adoc
  embedded-artifactory/pom.xml
  embedded-artifactory/src/main/java/com/playtika/test/artifactory/ArtifactoryProperties.java
  embedded-artifactory/src/main/java/com/playtika/test/artifactory/EmbeddedArtifactoryBootstrapConfiguration.java
  embedded-artifactory/src/main/resources/META-INF/spring.factories
  embedded-artifactory/src/test/java/com/playtika/test/artifactory/BaseEmbeddedArtifactoryTest.java
  embedded-artifactory/src/test/java/com/playtika/test/artifactory/EmbeddedArtifactoryBootstrapConfigurationTest.java
  embedded-artifactory/src/test/java/com/playtika/test/artifactory/EmbeddedArtifactoryDisabledTest.java
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: feature

#730 Set startup timeout to 120 seconds for Artifactory
  embedded-artifactory/src/main/java/com/playtika/test/artifactory/ArtifactoryProperties.java
Labels: bug

#731 Unify setup for disabled containers in tests
  embedded-aerospike/src/test/java/com/playtika/test/aerospike/DisableAerospikeTest.java
  embedded-artifactory/src/test/java/com/playtika/test/artifactory/EmbeddedArtifactoryDisabledTest.java
  embedded-cassandra/src/test/java/com/playtika/test/cassandra/EmbeddedCassandraDisabledTest.java
  embedded-clickhouse/src/test/java/com/playtika/test/clickhouse/EmbeddedClickHouseDisableTest.java
  embedded-consul/src/test/java/com/playtika/test/consul/EmbeddedConsulDisabledTest.java
  embedded-couchbase/src/test/java/com/playtika/test/couchbase/DisableCouchbaseTest.java
  embedded-dynamodb/src/test/java/com/playtika/test/dynamodb/DisableDynamoDBTest.java
  embedded-dynamodb/src/test/resources/application-disabled.properties
  embedded-elasticsearch/src/test/java/com/playtika/test/elasticsearch/DisabledElasticSearchTest.java
  embedded-elasticsearch/src/test/resources/bootstrap-disabled.properties
  embedded-google-pubsub/src/test/java/com/playtika/test/pubsub/DisablePubsubTest.java
  embedded-grafana/src/test/java/com/playtika/test/grafana/EmbeddedGrafanaDisabledTest.java
  embedded-influxdb/src/test/java/com/playtika/test/influxdb/EmbeddedInfluxDBDisabledTest.java
  embedded-keycloak/src/test/java/com/playtika/test/keycloak/vanilla/DisableKeycloakTest.java
  embedded-keycloak/src/test/java/com/playtika/test/keycloak/vanilla/KeycloakContainerTest.java
  embedded-keycloak/src/test/resources/bootstrap-disabled.yml
  embedded-localstack/src/test/java/com/playtika/test/localstack/DisabledLocalStackTest.java
  embedded-mariadb/src/test/java/com/playtika/test/mariadb/DisableMariaDBTest.java
  embedded-memsql/src/test/java/com/playtika/test/memsql/DisableMemSQLTest.java
  embedded-memsql/src/test/resources/application-disabled.properties
  embedded-mongodb/src/test/java/com/playtika/test/mongodb/DisableMongodbTest.java
  embedded-mysql/src/test/java/com/playtika/test/mysql/DisableMySQLTest.java
  embedded-neo4j/src/test/java/com/playtika/test/neo4j/DisableNeo4jTest.java
  embedded-oracle-xe/src/test/java/com/playtika/test/oracle/DisableOracleTest.java
  embedded-postgresql/src/test/java/com/playtika/test/postgresql/DisablePostgreSQLTest.java
  embedded-postgresql/src/test/resources/application-disabled.properties
  embedded-prometheus/src/test/java/com/playtika/test/prometheus/EmbeddedPrometheusDisabledTest.java
  embedded-pulsar/src/test/java/com/playtika/test/pulsar/DisablePulsarTest.java
  embedded-rabbitmq/src/test/java/com/playtika/test/rabbitmq/DisableRabbitMQTest.java
  embedded-redis/src/test/java/com/playtika/test/redis/DisableRedisTest.java
  embedded-vault/src/test/java/com/playtika/test/vault/DisableVaultTest.java
  embedded-vertica/src/test/java/com/playtika/test/vertica/DisableVerticaTest.java
  embedded-voltdb/src/test/java/com/playtika/test/voltdb/DisableVoltDBTest.java
  embedded-voltdb/src/test/resources/application-disabled.properties
Labels: housekeeping

#719 DB2 containers
  embedded-db2/README.adoc
  embedded-db2/pom.xml
  embedded-db2/src/main/java/com/playtika/test/db2/Db2Properties.java
  embedded-db2/src/main/java/com/playtika/test/db2/EmbeddedDb2BootstrapConfiguration.java
  embedded-db2/src/main/java/com/playtika/test/db2/EmbeddedDb2DependenciesAutoConfiguration.java
  embedded-db2/src/main/resources/META-INF/spring.factories
  embedded-db2/src/test/java/com/playtika/test/db2/EmbeddedDb2DependenciesAutoConfigurationTest.java
  embedded-db2/src/test/resources/application.properties
  embedded-db2/src/test/resources/bootstrap.properties
  embedded-db2/src/test/resources/container-license-acceptance.txt
  embedded-db2/src/test/resources/initScript.sql
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
  testcontainers-spring-boot-parent/pom.xml
Labels: feature
