Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2022-01, with the labels that each got.

#760 Aerospike: Add test for network latency
  embedded-aerospike/src/test/java/com/playtika/test/aerospike/NetworkTestOperationsTest.java
Labels: housekeeping

#770 feat(rabbit): add ability to specify custom compatible image
  embedded-rabbitmq/src/main/java/com/playtika/test/rabbitmq/EmbeddedRabbitMQBootstrapConfiguration.java
Labels: enhancement

#766 #697 added azurite support
  README.adoc
  embedded-azurite/README.adoc
  embedded-azurite/pom.xml
  embedded-azurite/src/main/java/com/playtika/test/azurite/AzuriteContainer.java
  embedded-azurite/src/main/java/com/playtika/test/azurite/AzuriteProperties.java
  embedded-azurite/src/main/java/com/playtika/test/azurite/EmbeddedAzuriteBootstrapConfiguration.java
  embedded-azurite/src/main/resources/META-INF/spring.factories
  embedded-azurite/src/test/java/com/playtika/test/azurite/DisableAzuriteTest.java
  embedded-azurite/src/test/java/com/playtika/test/azurite/EmbeddedAzuriteBoostrapConfigurationTest.java
  embedded-azurite/src/test/resources/application.yaml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: feature

#778 #697 fixing docu for azurite
  embedded-azurite/README.adoc
Labels: documentation
