Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2022-12, with the labels that each got.

#1066 #1065 replace ContainerState.getContainerIpAddress() with getHost()
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/EmbeddedAerospikeBootstrapConfiguration.java
  embedded-artifactory/src/main/java/com/playtika/test/artifactory/EmbeddedArtifactoryBootstrapConfiguration.java
  embedded-cassandra/src/main/java/com/playtika/test/cassandra/EmbeddedCassandraBootstrapConfiguration.java
  embedded-clickhouse/src/main/java/com/playtika/test/clickhouse/EmbeddedClickHouseBootstrapConfiguration.java
  embedded-consul/src/main/java/com/playtika/test/consul/EmbeddedConsulBootstrapConfiguration.java
  embedded-db2/src/main/java/com/playtika/test/db2/EmbeddedDb2BootstrapConfiguration.java
  embedded-dynamodb/src/main/java/com/playtika/test/dynamodb/EmbeddedDynamoDBBootstrapConfiguration.java
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/EmbeddedElasticSearchBootstrapConfiguration.java
  embedded-google-pubsub/src/main/java/com/playtika/test/pubsub/EmbeddedPubsubBootstrapConfiguration.java
  embedded-google-storage/src/main/java/com/playtika/test/storage/EmbeddedStorageBootstrapConfiguration.java
  embedded-grafana/src/main/java/com/playtika/test/grafana/EmbeddedGrafanaBootstrapConfiguration.java
  embedded-influxdb/src/main/java/com/playtika/test/influxdb/EmbeddedInfluxDBBootstrapConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/KafkaContainerConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/SchemaRegistryContainerConfiguration.java
  embedded-keycloak/src/test/java/com/playtika/test/keycloak/spring/EmbeddedKeycloakBootstrapConfigurationTest.java
  embedded-localstack/src/main/java/com/playtika/test/localstack/EmbeddedLocalStackBootstrapConfiguration.java
  embedded-mariadb/src/main/java/com/playtika/test/mariadb/EmbeddedMariaDBBootstrapConfiguration.java
  embedded-memsql/src/main/java/com/playtika/test/memsql/EmbeddedMemSqlBootstrapConfiguration.java
  embedded-mongodb/src/main/java/com/playtika/test/mongodb/EmbeddedMongodbBootstrapConfiguration.java
  embedded-mssqlserver/src/main/java/com/playtika/test/mssqlserver/EmbeddedMSSQLServerBootstrapConfiguration.java
  embedded-mysql/src/main/java/com/playtika/test/mysql/EmbeddedMySQLBootstrapConfiguration.java
  embedded-neo4j/src/main/java/com/playtika/test/neo4j/EmbeddedNeo4jBootstrapConfiguration.java
  embedded-oracle-xe/src/main/java/com/playtika/test/oracle/EmbeddedOracleBootstrapConfiguration.java
  embedded-postgresql/src/main/java/com/playtika/test/postgresql/EmbeddedPostgreSQLBootstrapConfiguration.java
  embedded-prometheus/src/main/java/com/playtika/test/prometheus/EmbeddedPrometheusBootstrapConfiguration.java
  embedded-rabbitmq/src/main/java/com/playtika/test/rabbitmq/EmbeddedRabbitMQBootstrapConfiguration.java
  embedded-redis/src/main/java/com/playtika/test/redis/EnvUtils.java
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/EmbeddedToxiProxyBootstrapConfiguration.java
  embedded-vault/src/main/java/com/playtika/test/vault/EmbeddedVaultBootstrapConfiguration.java
  embedded-vertica/src/main/java/com/playtika/test/vertica/EmbeddedVerticaBootstrapConfiguration.java
  embedded-voltdb/src/main/java/com/playtika/test/voltdb/EmbeddedVoltDBBootstrapConfiguration.java
Labels: enhancement

#1056 #1024 update to Azurite 3.20.1
  embedded-azurite/src/main/java/com/playtika/test/azurite/AzuriteProperties.java
  testcontainers-spring-boot-parent/pom.xml
Labels: enhancement, dependencies

#1064 #1063 cleanup generics handling around GenericContainer
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeTestOperations.java
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/EmbeddedAerospikeBootstrapConfiguration.java
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/EmbeddedAerospikeTestOperationsAutoConfiguration.java
  embedded-artifactory/src/main/java/com/playtika/test/artifactory/EmbeddedArtifactoryBootstrapConfiguration.java
  embedded-azurite/src/main/java/com/playtika/test/azurite/EmbeddedAzuriteBootstrapConfiguration.java
  embedded-consul/src/main/java/com/playtika/test/consul/EmbeddedConsulBootstrapConfiguration.java
  embedded-consul/src/test/java/com/playtika/test/consul/EmbeddedConsulBootstrapConfigurationBaseTest.java
  embedded-couchbase/src/main/java/com/playtika/test/couchbase/EmbeddedCouchbaseTestOperationsAutoConfiguration.java
  embedded-dynamodb/src/main/java/com/playtika/test/dynamodb/EmbeddedDynamoDBBootstrapConfiguration.java
  embedded-google-pubsub/src/main/java/com/playtika/test/pubsub/EmbeddedPubsubBootstrapConfiguration.java
  embedded-google-pubsub/src/test/java/com/playtika/test/pubsub/EmbeddedPubsubBootstrapConfigurationTest.java
  embedded-grafana/src/main/java/com/playtika/test/grafana/EmbeddedGrafanaBootstrapConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/KafkaTopicsConfigurer.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/EmbeddedKafkaTestOperationsAutoConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/KafkaContainerConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/SchemaRegistryContainerConfiguration.java
  embedded-kafka/src/test/java/com/playtika/test/kafka/EmbeddedKafkaWithBindingTest.java
  embedded-mariadb/src/main/java/com/playtika/test/mariadb/EmbeddedMariaDBTestOperationsAutoConfiguration.java
  embedded-memsql/src/main/java/com/playtika/test/memsql/EmbeddedMemSqlBootstrapConfiguration.java
  embedded-memsql/src/main/java/com/playtika/test/memsql/EmbeddedMemSqlTestOperationsAutoConfiguration.java
  embedded-minio/src/main/java/com/playtika/test/minio/EmbeddedMinioBootstrapConfiguration.java
  embedded-minio/src/main/java/com/playtika/test/minio/EmbeddedMinioTestOperationsAutoConfiguration.java
  embedded-mongodb/src/main/java/com/playtika/test/mongodb/EmbeddedMongodbBootstrapConfiguration.java
  embedded-mongodb/src/main/java/com/playtika/test/mongodb/EmbeddedMongodbTestOperationsAutoConfiguration.java
  embedded-nats/src/main/java/com/playtika/test/nats/EmbeddedNatsBootstrapConfiguration.java
  embedded-neo4j/src/main/java/com/playtika/test/neo4j/EmbeddedNeo4jTestOperationsAutoConfiguration.java
  embedded-prometheus/src/main/java/com/playtika/test/prometheus/EmbeddedPrometheusBootstrapConfiguration.java
  embedded-redis/src/main/java/com/playtika/test/redis/EmbeddedRedisBootstrapConfiguration.java
  embedded-redis/src/main/java/com/playtika/test/redis/EmbeddedRedisTestOperationsAutoConfiguration.java
  embedded-redis/src/main/java/com/playtika/test/redis/EnvUtils.java
  embedded-selenium/src/main/java/com/playtika/test/selenium/EmbeddedSeleniumBootstrapConfiguration.java
  embedded-vertica/src/main/java/com/playtika/test/vertica/EmbeddedVerticaBootstrapConfiguration.java
  embedded-victoriametrics/src/main/java/com/playtika/test/victoriametrics/EmbeddedVictoriaMetricsBootstrapConfiguration.java
  embedded-voltdb/src/main/java/com/playtika/test/voltdb/EmbeddedVoltDBBootstrapConfiguration.java
  testcontainers-common/src/main/java/com/playtika/test/common/operations/DefaultNetworkTestOperations.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/ApkPackageInstaller.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/AptGetPackageInstaller.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/MicroDnfPackageInstaller.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/PackageInstaller.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/YumPackageInstaller.java
  testcontainers-common/src/test/java/com/playtika/test/common/checks/AbstractCommandWaitStrategyTest.java
  testcontainers-common/src/test/java/com/playtika/test/common/spring/AllContainersTest.java
Labels: enhancement

#1062 #1061 replace SocketUtils with TestSocketUtils
  embedded-redis/pom.xml
  embedded-redis/src/main/java/com/playtika/test/redis/RedisProperties.java
  testcontainers-spring-boot-parent/pom.xml
Labels: enhancement

#1074 Fix findAvailableTcpPort for redis from 1025 to 50000
  embedded-redis/src/main/java/com/playtika/test/redis/RedisProperties.java
Labels: bug

#1075 Update Aerospike image to 5.7.0.25
  embedded-aerospike/README.adoc
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeProperties.java
Labels: enhancement, dependencies, security

#1076 Update InfluxDB image to 2.5 and fix error with "failed to setup inst…
  embedded-influxdb/README.adoc
  embedded-influxdb/src/main/java/com/playtika/test/influxdb/InfluxDBProperties.java
Labels: bug, enhancement, dependencies

#1083 Fix findAvailableTcpPort for redis from 1025 to 50000 #1074
  embedded-redis/pom.xml
  embedded-redis/src/main/java/com/playtika/test/redis/RedisProperties.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/TcpPortAvailableUtils.java
Labels: bug
