Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2022-11, with the labels that each got.

#1036 bump spring-boot from 2.6.4 to 2.7.5
  embedded-aerospike/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-cassandra/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-clickhouse/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-couchbase/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-db2/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-dynamodb/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-elasticsearch/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-google-pubsub/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-google-storage/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-kafka/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-keycloak/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-mariadb/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-mariadb/src/test/resources/application-enabled.properties
  embedded-memsql/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-memsql/src/test/resources/application-enabled.properties
  embedded-minio/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-mongodb/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-mssqlserver/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-mysql/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-neo4j/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-oracle-xe/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-postgresql/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-rabbitmq/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-redis/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-selenium/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-selenium/src/test/java/com/playtika/test/selenium/drivers/BaseEmbeddedSeleniumTest.java
  embedded-vertica/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-voltdb/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  testcontainers-common/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  testcontainers-spring-boot-parent/pom.xml
Labels: good first issue, dependencies

#1044 Fix embedded redis sometimes attempting to use privileged port
  embedded-redis/src/main/java/com/playtika/test/redis/RedisProperties.java
Labels: bug, good first issue

#1051 embedded vault: add option to enable Compare and Set operations
  embedded-vault/README.adoc
  embedded-vault/src/main/java/com/playtika/test/vault/EmbeddedVaultBootstrapConfiguration.java
  embedded-vault/src/main/java/com/playtika/test/vault/VaultProperties.java
  embedded-vault/src/test/java/com/playtika/test/vault/EmbeddedVaultWithCasEnabledForSubPathsTest.java
  embedded-vault/src/test/java/com/playtika/test/vault/EmbeddedVaultWithCasEnabledTest.java
Labels: enhancement

#1052 Fixed aerospike docker image version since is has been archived.
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeProperties.java
Labels: bug, good first issue, dependencies
