Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2022-07, with the labels that each got.

#940 update memsql image to alma-7.8.7-b1ce5aefd0-4.0.7-1.13.8
  embedded-memsql/README.adoc
  embedded-memsql/src/main/java/com/playtika/test/memsql/MemSqlProperties.java
Labels: dependencies

#945 Update mysql docker image to 8.0-debian
  embedded-mysql/src/main/java/com/playtika/test/mysql/EmbeddedMySQLTestOperationsAutoConfiguration.java
  embedded-mysql/src/main/java/com/playtika/test/mysql/MySQLProperties.java
  testcontainers-common/src/main/java/com/playtika/test/common/properties/InstallPackageProperties.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/PackageInstaller.java
Labels: dependencies

#932 #931 Update and fix Azurite to azurite:3.18.0
  embedded-azurite/README.adoc
  embedded-azurite/src/main/java/com/playtika/test/azurite/AzuriteProperties.java
  embedded-azurite/src/main/java/com/playtika/test/azurite/EmbeddedAzuriteBootstrapConfiguration.java
  embedded-azurite/src/test/resources/application.yaml
  testcontainers-spring-boot-parent/pom.xml
Labels: dependencies

#913 Remove .circleci folder ad not needed for the build anymore
  .circleci/circleci.settings.xml
  .circleci/gpg.playtika.pub
Labels: housekeeping

#949 Support tmpfs options
  README.adoc
  embedded-mariadb/src/test/resources/bootstrap.properties
  embedded-mariadb/src/test/resources/bootstrap.yaml
  embedded-mariadb/src/test/resources/log4j2.xml
  testcontainers-common/src/main/java/com/playtika/test/common/properties/CommonContainerProperties.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/ContainerUtils.java
Labels: feature

#950 Set label housekeeping for GH actions updates
  .github/dependabot.yml
Labels: housekeeping

#952 Mssql server support
  embedded-mssqlserver/README.adoc
  embedded-mssqlserver/pom.xml
  embedded-mssqlserver/src/main/java/com/playtika/test/mssqlserver/EmbeddedMSSQLServerBootstrapConfiguration.java
  embedded-mssqlserver/src/main/java/com/playtika/test/mssqlserver/EmbeddedMSSQLServerContainer.java
  embedded-mssqlserver/src/main/java/com/playtika/test/mssqlserver/EmbeddedMSSQLServerDependenciesAutoConfiguration.java
  embedded-mssqlserver/src/main/java/com/playtika/test/mssqlserver/MSSQLServerProperties.java
  embedded-mssqlserver/src/main/resources/META-INF/spring.factories
  embedded-mssqlserver/src/test/java/com/playtika/test/mssqlserver/EmbeddedMSSQLServerDependenciesAutoConfigurationTest.java
  embedded-mssqlserver/src/test/resources/application.properties
  embedded-mssqlserver/src/test/resources/bootstrap.properties
  embedded-mssqlserver/src/test/resources/initScript.sql
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: feature
