Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2022-09, with the labels that each got.

#983 Documentation Neo4j - added missing property embedded.neo4j.host
  embedded-neo4j/README.adoc
Labels: documentation

#984 Update Neo4j container 4.3-community -> 4.4-community
  embedded-neo4j/README.adoc
  embedded-neo4j/src/main/java/com/playtika/test/neo4j/Neo4jProperties.java
Labels: dependencies

#986 [#985] 🐛 Add embedded-consul to BOM
  testcontainers-spring-boot-bom/pom.xml
Labels: enhancement

#947 replace zookeeper.connect to bootstrap-server
  embedded-kafka/src/main/java/com/playtika/test/kafka/KafkaTopicsConfigurer.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/KafkaConfigurationProperties.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/SchemaRegistryConfigurationProperties.java
Labels: dependencies

#999 update aerospike container 5.5.0.2 -> 5.7.0.17
  embedded-aerospike/README.adoc
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeProperties.java
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeTestOperations.java
Labels: enhancement

#1000 updated singlestore container -> alma-7.8.14-8b65b22706-4.0.7-1.13.13
  embedded-memsql/README.adoc
  embedded-memsql/src/main/java/com/playtika/test/memsql/MemSqlProperties.java
Labels: enhancement

#1001 updated kafka container cp-kafka:7.2.0 -> cp-kafka:7.2.1
  embedded-kafka/README.adoc
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/KafkaConfigurationProperties.java
Labels: enhancement
