Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2022-04, with the labels that each got.

#855 Fix toxiproxy for kafka
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/KafkaContainerConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/KafkaConfigurationProperties.java
  embedded-kafka/src/main/resources/kafka_server_jaas.conf
  embedded-kafka/src/test/java/com/playtika/test/kafka/ToxiProxyEmbeddedKafkaTest.java
Labels: bug

#792 Google Cloud Storage support
  README.adoc
  embedded-google-storage/README.adoc
  embedded-google-storage/pom.xml
  embedded-google-storage/src/main/java/com/playtika/test/storage/EmbeddedStorageBootstrapConfiguration.java
  embedded-google-storage/src/main/java/com/playtika/test/storage/EmbeddedStorageDependenciesAutoConfiguration.java
  embedded-google-storage/src/main/java/com/playtika/test/storage/StorageProperties.java
  embedded-google-storage/src/main/java/com/playtika/test/storage/StorageResourcesGenerator.java
  embedded-google-storage/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-google-storage/src/main/resources/META-INF/spring.factories
  embedded-google-storage/src/test/java/com/playtika/test/storage/DisableStorageTest.java
  embedded-google-storage/src/test/java/com/playtika/test/storage/EmbeddedStorageBootstrapConfigurationTest.java
  embedded-google-storage/src/test/resources/application-enabled.properties
  embedded-google-storage/src/test/resources/bootstrap-enabled.properties
  embedded-google-storage/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: feature

#857 GCP align spring cloud 2021.0.0
  embedded-google-pubsub/pom.xml
  embedded-google-pubsub/src/main/java/com/playtika/test/pubsub/EmbeddedPubsubDependenciesAutoConfiguration.java
  embedded-google-pubsub/src/test/java/com/playtika/test/pubsub/EmbeddedPubsubBootstrapConfigurationTest.java
  embedded-google-storage/pom.xml
  pom.xml
  testcontainers-spring-boot-parent/pom.xml
Labels: enhancement

#865 Fix: Exception thrown with testcontainers 1.17 due to missing class
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeTestOperations.java
  embedded-clickhouse/src/main/java/com/playtika/test/clickhouse/EmbeddedClickHouseBootstrapConfiguration.java
  embedded-db2/src/main/java/com/playtika/test/db2/EmbeddedDb2BootstrapConfiguration.java
  embedded-kafka/src/test/java/com/playtika/test/kafka/ToxiProxyEmbeddedKafkaTest.java
  embedded-localstack/src/test/java/com/playtika/test/localstack/EmbeddedLocalStackTest.java
  embedded-postgresql/src/main/java/com/playtika/test/postgresql/EmbeddedPostgreSQLBootstrapConfiguration.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/DateUtils.java
  testcontainers-common/src/test/java/com/playtika/test/common/utils/ContainerUtilsTest.java
Labels: bug

#871 Fixes PR #861
  embedded-azurite/README.adoc
  embedded-azurite/pom.xml
  embedded-azurite/src/test/resources/application.yaml
  testcontainers-spring-boot-parent/pom.xml
Labels: enhancement

#874 Fix ToxiProxyEmbeddedKafkaTest
  embedded-kafka/src/test/java/com/playtika/test/kafka/ToxiProxyEmbeddedKafkaTest.java
Labels: housekeeping

#872 Update Vertica from 9.2.0-7 to 11.1.0-0
  embedded-vertica/README.adoc
  embedded-vertica/src/main/java/com/playtika/test/vertica/VerticaProperties.java
Labels: enhancement
