Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2022-03, with the labels that each got.

#821 Fix support of custom docker image
  testcontainers-common/src/main/java/com/playtika/test/common/properties/CommonContainerProperties.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/ContainerUtils.java
  testcontainers-common/src/test/java/com/playtika/test/common/utils/ContainerUtilsDockerImageNameTest.java
Labels: bug

#824 Update maven wrapper
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: housekeeping

#823 Toxiproxy support
  README.adoc
  embedded-toxiproxy/README.adoc
  embedded-toxiproxy/pom.xml
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/EmbeddedToxiProxyBootstrapConfiguration.java
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/ToxiProxyProperties.java
  embedded-toxiproxy/src/main/resources/META-INF/spring.factories
  embedded-toxiproxy/src/test/java/com/playtika/test/toxiproxy/DisableToxiProxyTest.java
  embedded-toxiproxy/src/test/java/com/playtika/test/toxiproxy/EmbeddedToxiProxyBootstrapConfigurationTest.java
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
  testcontainers-spring-boot-parent/pom.xml
Labels: feature

#829 Fix mariadb-java-client version to be used from spring-boot-bom
  embedded-mariadb/pom.xml
Labels: housekeeping

#830 Cleanup poms
  embedded-cassandra/pom.xml
  embedded-clickhouse/pom.xml
  embedded-couchbase/pom.xml
  embedded-db2/pom.xml
  embedded-elasticsearch/pom.xml
  embedded-influxdb/pom.xml
  embedded-kafka/pom.xml
  embedded-localstack/pom.xml
  embedded-mysql/pom.xml
  embedded-neo4j/pom.xml
  embedded-oracle-xe/pom.xml
  embedded-postgresql/pom.xml
  embedded-pulsar/pom.xml
  embedded-rabbitmq/pom.xml
  embedded-selenium/pom.xml
  embedded-vault/pom.xml
  testcontainers-spring-boot-parent/pom.xml
Labels: housekeeping

#837 dependabot: increase limit of open prs to 50
  .github/dependabot.yml
Labels: housekeeping

#844 ignore com.amazonaws dependency updates for patch versions
  .github/dependabot.yml
Labels: housekeeping

#834 Support partitions count for kafka-testcontainer
  embedded-kafka/src/main/java/com/playtika/test/kafka/KafkaTopicsConfigurer.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/KafkaContainerConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/KafkaConfigurationProperties.java
  embedded-kafka/src/test/java/com/playtika/test/kafka/AbstractEmbeddedKafkaTest.java
  embedded-kafka/src/test/java/com/playtika/test/kafka/EmbeddedKafkaTest.java
  embedded-kafka/src/test/java/com/playtika/test/kafka/EmbeddedSchemaRegistryTest.java
Labels: enhancement

#826 Toxiproxy support for Aerospike
  embedded-aerospike/README.adoc
  embedded-aerospike/pom.xml
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeToxiProxyProxyEnabled.java
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/EmbeddedAerospikeBootstrapConfiguration.java
  embedded-aerospike/src/test/java/com/playtika/test/aerospike/BaseAerospikeTest.java
  embedded-aerospike/src/test/java/com/playtika/test/aerospike/EmbeddedAerospikeBootstrapConfigurationTest.java
  embedded-aerospike/src/test/java/com/playtika/test/aerospike/ToxiProxyAerospikeTest.java
  embedded-toxiproxy/README.adoc
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/EmbeddedToxiProxyBootstrapConfiguration.java
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/ToxiProxyCondition.java
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/ToxiProxyProperties.java
  embedded-toxiproxy/src/test/java/com/playtika/test/toxiproxy/ToxiProxyConditionTest.java
Labels: feature

#845 Toxiproxy support for Aerospike: make network optional and extract @C…
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeToxiProxyProxyEnabled.java
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/EmbeddedAerospikeBootstrapConfiguration.java
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/EmbeddedToxiProxyBootstrapConfiguration.java
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/condition/ConditionalOnToxiProxyEnabled.java
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/condition/ToxiProxyCondition.java
  embedded-toxiproxy/src/test/java/com/playtika/test/toxiproxy/condition/ToxiProxyConditionAnyModuleTest.java
  embedded-toxiproxy/src/test/java/com/playtika/test/toxiproxy/condition/ToxiProxyConditionSpecificModuleTest.java
Labels: enhancement
