Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2023-11, with the labels that each got.

#1574 Add internal SASL_PLAINTEXT Kafka listener
  embedded-kafka/README.adoc
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/configuration/KafkaContainerConfiguration.java
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/KafkaConfigurationProperties.java
Labels: enhancement, feature, java

#1577 chore(deps): update clickhouse/clickhouse-server docker tag to v23.9.3
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1579 chore(deps): update fsouza/fake-gcs-server docker tag to v1.47.6
  embedded-google-storage/src/main/java/com/playtika/testcontainer/storage/StorageProperties.java
Labels: docker-update-images

#1582 chore(deps): update redis docker tag to v7.2.2
  embedded-redis/README.adoc
  embedded-redis/src/main/java/com/playtika/testcontainer/redis/RedisProperties.java
Labels: docker-update-images

#1576 chore(deps): update apachepulsar/pulsar docker tag to v3.1.1
  embedded-pulsar/README.adoc
  embedded-pulsar/src/main/java/com/playtika/testcontainer/pulsar/PulsarProperties.java
Labels: docker-update-images

#1583 chore(deps): update zookeeper docker tag to v3.9.1
  embedded-zookeeper/src/main/java/com/playtika/testcontainers/zookeeper/ZookeeperConfigurationProperties.java
Labels: docker-update-images

#1578 chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v8.10.4
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/testcontainer/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images

#1584 chore(deps): update amazon/dynamodb-local docker tag to v2.1.0
  embedded-dynamodb/src/main/java/com/playtika/testcontainer/dynamodb/DynamoDBProperties.java
Labels: docker-update-images

#1580 chore(deps): update quay.io/keycloak/keycloak docker tag to v22.0.5
  embedded-keycloak/src/main/java/com/playtika/testcontainer/keycloak/KeycloakProperties.java
  embedded-keycloak/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1581 chore(deps): update rancher/k3s docker tag to v1.28.3
  embedded-k3s/README.adoc
  embedded-k3s/src/main/java/com/playtika/testcontainer/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1585 chore(deps): update ghcr.io/shopify/toxiproxy docker tag to v2.7.0
  embedded-toxiproxy/README.adoc
  embedded-toxiproxy/src/main/java/com/playtika/testcontainer/toxiproxy/ToxiProxyProperties.java
Labels: docker-update-images

#1586 chore(deps): update grafana/grafana docker tag to v10.2.0
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1588 chore(deps): update mysql docker tag to v8.2
  embedded-mysql/README.adoc
Labels: docker-update-images

#1592 chore(deps): update solr docker tag to v9.4
  embedded-solr/README.adoc
  embedded-solr/src/main/java/com/playtika/testcontainer/solr/SolrProperties.java
Labels: docker-update-images

#1589 chore(deps): update neo4j docker tag to v5.13
  embedded-neo4j/README.adoc
  embedded-neo4j/src/main/java/com/playtika/testcontainer/neo4j/Neo4jProperties.java
Labels: docker-update-images

#1593 chore(deps): update wiremock/wiremock docker tag to v3.2.0
  embedded-wiremock/README.adoc
  embedded-wiremock/src/main/java/com/playtika/testcontainers/wiremock/WiremockProperties.java
Labels: docker-update-images

#1594 chore(deps): update google/cloud-sdk docker tag to v453
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#1590 chore(deps): update opensearchproject/opensearch docker tag to v2.11.0
  embedded-opensearch/README.adoc
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/OpenSearchProperties.java
Labels: docker-update-images

#1587 chore(deps): update mcr.microsoft.com/azure-storage/azurite docker tag to v3.27.0
  embedded-azurite/src/main/java/com/playtika/testcontainer/azurite/AzuriteProperties.java
Labels: docker-update-images

#1591 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.71.3
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1598 [Snyk] Security upgrade io.minio:minio from 8.5.6 to 8.5.7
  embedded-minio/pom.xml
Labels: dependencies, security

#1613 chore(deps): update clickhouse/clickhouse-server docker tag to v23.10.3
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1612 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.71.4
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1611 chore(deps): update redis docker tag to v7.2.3
  embedded-redis/README.adoc
  embedded-redis/src/main/java/com/playtika/testcontainer/redis/RedisProperties.java
Labels: docker-update-images

#1607 chore(deps): update couchbase/server docker tag to v7.2.3
  embedded-couchbase/README.adoc
  embedded-couchbase/src/main/java/com/playtika/testcontainer/couchbase/CouchbaseProperties.java
Labels: docker-update-images

#1604 chore(deps): update cockroachdb/cockroach docker tag to v23.1.12
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#1606 chore(deps): update confluentinc/cp-schema-registry docker tag to v7.5.2
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/SchemaRegistryConfigurationProperties.java
Labels: docker-update-images

#1608 chore(deps): update ghcr.io/singlestore-labs/singlestoredb-dev docker tag to v0.2.11
  embedded-memsql/README.adoc
  embedded-memsql/src/main/java/com/playtika/testcontainer/memsql/MemSqlProperties.java
Labels: docker-update-images

#1609 chore(deps): update grafana/grafana docker tag to v10.2.1
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1610 chore(deps): update mongo docker tag to v7.0.3
  embedded-mongodb/src/main/java/com/playtika/testcontainer/mongodb/MongodbProperties.java
Labels: docker-update-images

#1623 chore(deps): update wiremock/wiremock docker tag to v3.3.1
  embedded-wiremock/README.adoc
  embedded-wiremock/src/main/java/com/playtika/testcontainers/wiremock/WiremockProperties.java
Labels: docker-update-images

#1624 chore(deps): update google/cloud-sdk docker tag to v455
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#1621 chore(deps): update prom/prometheus docker tag to v2.48.0
  embedded-prometheus/README.adoc
  embedded-prometheus/src/main/java/com/playtika/testcontainer/prometheus/PrometheusProperties.java
Labels: docker-update-images

#1619 chore(deps): update clickhouse/clickhouse-server docker tag to v23.10.4
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1622 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.95.1
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#1635 Add parameters parameter to compiler
  pom.xml
Labels: enhancement
