Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2023-10, with the labels that each got.

#1515 feat: Added KeyDB
  README.adoc
  embedded-keydb/README.adoc
  embedded-keydb/pom.xml
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/EmbeddedKeyDbBootstrapConfiguration.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/EmbeddedKeyDbDependenciesAutoConfiguration.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/EmbeddedKeyDbTestOperationsAutoConfiguration.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/EnvUtils.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/KeyDbProperties.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/wait/DefaultKeyDbClusterWaitStrategy.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/wait/KeyDbClusterStatusCheck.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/wait/KeyDbClusterWaitStrategy.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/wait/KeyDbStatusCheck.java
  embedded-keydb/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-keydb/src/main/resources/META-INF/spring.factories
  embedded-keydb/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-keydb/src/main/resources/keydb.conf.template
  embedded-keydb/src/main/resources/nodes.conf.template
  embedded-keydb/src/test/java/com/playtika/testcontainer/keydb/BaseEmbeddedKeyDbTest.java
  embedded-keydb/src/test/java/com/playtika/testcontainer/keydb/DisableKeyDbTest.java
  embedded-keydb/src/test/java/com/playtika/testcontainer/keydb/clustered/BaseClusterEmbeddedKeyDbTest.java
  embedded-keydb/src/test/java/com/playtika/testcontainer/keydb/clustered/ClusterEmbeddedKeyDbTest.java
  embedded-keydb/src/test/java/com/playtika/testcontainer/keydb/clustered/ClusterNoAuthEmbeddedKeyDbTest.java
  embedded-keydb/src/test/java/com/playtika/testcontainer/keydb/standalone/BaseStandaloneEmbeddedKeyDbTest.java
  embedded-keydb/src/test/java/com/playtika/testcontainer/keydb/standalone/StandaloneEmbeddedKeyDbTest.java
  embedded-keydb/src/test/java/com/playtika/testcontainer/keydb/standalone/StandaloneNoAuthEmbeddedKeyDbTest.java
  embedded-keydb/src/test/resources/application-auth.properties
  embedded-keydb/src/test/resources/application-enabled.properties
  embedded-keydb/src/test/resources/bootstrap-noauth.properties
  embedded-keydb/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: enhancement, feature

#1522 chore(deps): update postgres docker tag to v16
  embedded-postgresql/README.adoc
  embedded-postgresql/src/main/java/com/playtika/testcontainer/postgresql/PostgreSQLProperties.java
  embedded-postgresql/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1521 chore(deps): update google/cloud-sdk docker tag to v448
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#1518 chore(deps): update clickhouse/clickhouse-server docker tag to v23.9.1
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1520 chore(deps): update opensearchproject/opensearch docker tag to v2.10.0
  embedded-opensearch/README.adoc
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/OpenSearchProperties.java
Labels: docker-update-images

#1519 chore(deps): update localstack/localstack docker tag to v2.3.1
  embedded-localstack/README.adoc
  embedded-localstack/src/main/java/com/playtika/testcontainer/localstack/LocalStackProperties.java
  embedded-localstack/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1517 chore(deps): update grafana/grafana docker tag to v10.1.4
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1523 chore(deps): update wiremock/wiremock docker tag to v3
  embedded-wiremock/README.adoc
  embedded-wiremock/src/main/java/com/playtika/testcontainers/wiremock/WiremockProperties.java
Labels: docker-update-images

#1528 feat(embedded-rabbitmq): add `embedded.rabbitmq.enabledPlugins` property
  embedded-rabbitmq/README.adoc
  embedded-rabbitmq/src/main/java/com/playtika/testcontainer/rabbitmq/EmbeddedRabbitMQBootstrapConfiguration.java
  embedded-rabbitmq/src/main/java/com/playtika/testcontainer/rabbitmq/RabbitMQProperties.java
  embedded-rabbitmq/src/test/java/com/playtika/testcontainer/rabbitmq/EmbeddedRabbitMQBootstrapConfigurationTest.java
  embedded-rabbitmq/src/test/java/com/playtika/testcontainer/rabbitmq/EmbeddedRabbitMQWithPluginsTest.java
  embedded-rabbitmq/src/test/resources/bootstrap-plugins.properties
Labels: enhancement, good first issue, feature, java

#1538 feat(embedded-opensearch): Allow start with security plugin
  embedded-opensearch/README.adoc
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/OpenSearchContainerFactory.java
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/OpenSearchProperties.java
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/rest/CreateIndex.java
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/rest/WaitForGreenStatus.java
  embedded-opensearch/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-opensearch/src/test/java/com/playtika/testcontainer/opensearch/EmbeddedOpenSearchBootstrapConfigurationTest.java
  embedded-opensearch/src/test/java/com/playtika/testcontainer/opensearch/springdata/SpringDataTest.java
  embedded-opensearch/src/test/java/com/playtika/testcontainer/opensearch/springdata/SpringDataWithAuthTest.java
  embedded-opensearch/src/test/resources/application-credentials.properties
  embedded-opensearch/src/test/resources/bootstrap.properties
Labels: enhancement, good first issue, feature

#1527 [Snyk] Security upgrade org.neo4j:neo4j-ogm-bolt-driver from 3.2.42 to 4.0.7
  embedded-neo4j/pom.xml
  embedded-neo4j/src/main/java/com/playtika/testcontainer/neo4j/EmbeddedNeo4jDependenciesAutoConfiguration.java
Labels: enhancement, security, java

#1539 chore(deps): update cockroachdb/cockroach docker tag to v23.1.11
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#1540 chore(deps): update confluentinc/cp-kafka docker tag to v7.5.1
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/KafkaConfigurationProperties.java
Labels: docker-update-images

#1548 chore(deps): update prom/prometheus docker tag to v2.47.2
  embedded-prometheus/README.adoc
  embedded-prometheus/src/main/java/com/playtika/testcontainer/prometheus/PrometheusProperties.java
Labels: docker-update-images

#1546 chore(deps): update localstack/localstack docker tag to v2.3.2
  embedded-localstack/README.adoc
  embedded-localstack/src/main/java/com/playtika/testcontainer/localstack/LocalStackProperties.java
  embedded-localstack/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1545 chore(deps): update grafana/grafana docker tag to v10.1.5
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1544 chore(deps): update ghcr.io/singlestore-labs/singlestoredb-dev docker tag to v0.2.10
  embedded-memsql/README.adoc
  embedded-memsql/src/main/java/com/playtika/testcontainer/memsql/MemSqlProperties.java
Labels: docker-update-images

#1543 chore(deps): update fsouza/fake-gcs-server docker tag to v1.47.5
  embedded-google-storage/src/main/java/com/playtika/testcontainer/storage/StorageProperties.java
Labels: docker-update-images

#1542 chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v8.10.3
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/testcontainer/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images

#1541 chore(deps): update confluentinc/cp-schema-registry docker tag to v7.5.1
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/SchemaRegistryConfigurationProperties.java
Labels: docker-update-images

#1554 chore(deps): update google/cloud-sdk docker tag to v450
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#1552 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.94.0
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#1551 chore(deps): update vertica/vertica-ce docker tag to v23.4.0
  embedded-vertica/README.adoc
  embedded-vertica/src/main/java/com/playtika/testcontainer/vertica/VerticaProperties.java
Labels: docker-update-images

#1550 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.68.14
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1549 chore(deps): update quay.io/keycloak/keycloak docker tag to v22.0.4
  embedded-keycloak/src/main/java/com/playtika/testcontainer/keycloak/KeycloakProperties.java
  embedded-keycloak/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1566 [Snyk] Security upgrade org.keycloak:keycloak-core from 22.0.4 to 22.0.5
  embedded-keycloak/pom.xml
Labels: dependencies, security

#1567 [Snyk] Security upgrade org.neo4j.driver:neo4j-java-driver from 5.13.0 to 5.14.0
  embedded-neo4j/pom.xml
Labels: dependencies, security
