Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2023-03, with the labels that each got.

#1159 feat: Added k3s test-container
  README.adoc
  embedded-k3s/README.adoc
  embedded-k3s/pom.xml
  embedded-k3s/src/main/java/com/playtika/test/k3s/EmbeddedK3sBootstrapConfiguration.java
  embedded-k3s/src/main/java/com/playtika/test/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-k3s/src/main/resources/META-INF/spring.factories
  embedded-k3s/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-k3s/src/test/java/com/playtika/test/k3s/EmbeddedK3sBootstrapConfigurationTest.java
  embedded-k3s/src/test/java/com/playtika/test/k3s/EmbeddedK3sDisabledTest.java
  embedded-k3s/src/test/java/com/playtika/test/k3s/TestApplication.java
  embedded-k3s/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: enhancement

#1160 update keycloak version to 21.0.0
  embedded-keycloak/src/main/java/com/playtika/test/keycloak/KeycloakContainer.java
  embedded-keycloak/src/main/java/com/playtika/test/keycloak/KeycloakProperties.java
  embedded-keycloak/src/test/java/com/playtika/test/keycloak/spring/EmbeddedKeycloakBootstrapConfigurationTest.java
  embedded-keycloak/src/test/resources/bootstrap-enabled.yml
Labels: enhancement, dependencies

#1167 add support branche for prev version
  .github/workflows/changelog-release-drafter.yml
  .github/workflows/maven.yml
  pom.xml
Labels: enhancement

#1171 Adds autoconfigure mockserver
  README.adoc
  embedded-mockserver/README.adoc
  embedded-mockserver/pom.xml
  embedded-mockserver/src/main/java/com/playtika/test/mockserver/EmbeddedMockServerBootstrapConfiguration.java
  embedded-mockserver/src/main/java/com/playtika/test/mockserver/MockServerProperties.java
  embedded-mockserver/src/main/resources/META-INF/spring.factories
  embedded-mockserver/src/main/resources/additional-spring-configuration-metadata.json
  embedded-mockserver/src/test/java/com/playtika/test/mockserver/BaseMockServerTest.java
  embedded-mockserver/src/test/java/com/playtika/test/mockserver/DisableMockServerTest.java
  embedded-mockserver/src/test/java/com/playtika/test/mockserver/EmbeddedMockServerBootstrapConfigurationTest.java
  embedded-mockserver/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: enhancement

#1170 #690 Add the feature of init script in clickhouse module, just like m…
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/test/clickhouse/ClickHouseProperties.java
  embedded-clickhouse/src/main/java/com/playtika/test/clickhouse/EmbeddedClickHouseBootstrapConfiguration.java
  embedded-clickhouse/src/test/java/com/playtika/test/clickhouse/BaseEmbeddedClickHouseTest.java
  embedded-clickhouse/src/test/java/com/playtika/test/clickhouse/EmbeddedClickHouseBootstrapConfigurationTest.java
  embedded-clickhouse/src/test/resources/application.properties
  embedded-clickhouse/src/test/resources/initScript.sql
Labels: enhancement

#1173 Basic functionality for add labels to embedded container
  README.adoc
  testcontainers-common/src/main/java/com/playtika/test/common/properties/CommonContainerProperties.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/ContainerUtils.java
Labels: enhancement, feature

#1174 Basic implementation for solr embedded container
  README.adoc
  embedded-solr/README.adoc
  embedded-solr/pom.xml
  embedded-solr/src/main/java/com/playtika/test/solr/EmbeddedSolrBootstrapConfiguration.java
  embedded-solr/src/main/java/com/playtika/test/solr/SolrProperties.java
  embedded-solr/src/main/resources/META-INF/spring.factories
  embedded-solr/src/main/resources/additional-spring-configuration-metadata.json
  embedded-solr/src/test/java/com/playtika/test/solr/BaseSolrTest.java
  embedded-solr/src/test/java/com/playtika/test/solr/DisableSolrTest.java
  embedded-solr/src/test/java/com/playtika/test/solr/EmbeddedSolrBootstrapConfigurationTest.java
  embedded-solr/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: enhancement, feature

#1178 Add basic support of CockroachDB
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/pom.xml
  embedded-cockroachdb/src/main/java/com/playtika/test/cockroach/CockroachDBProperties.java
  embedded-cockroachdb/src/main/java/com/playtika/test/cockroach/EmbeddedCockroachDBBootstrapConfiguration.java
  embedded-cockroachdb/src/main/java/com/playtika/test/cockroach/EmbeddedCockroachDBDependenciesAutoConfiguration.java
  embedded-cockroachdb/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-cockroachdb/src/main/resources/META-INF/spring.factories
  embedded-cockroachdb/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-cockroachdb/src/test/java/com/playtika/test/cockroach/AutoConfiguredDatasourceDependsOnTest.java
  embedded-cockroachdb/src/test/java/com/playtika/test/cockroach/DisableMariaDBTest.java
  embedded-cockroachdb/src/test/java/com/playtika/test/cockroach/EmbeddedCockroachDBBootstrapConfigurationTest.java
  embedded-cockroachdb/src/test/resources/application-enabled.properties
  embedded-cockroachdb/src/test/resources/initScript.sql
  embedded-cockroachdb/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: enhancement, feature

#1179 Add container log attachment to log test
  README.adoc
  testcontainers-common/src/main/java/com/playtika/test/common/properties/CommonContainerProperties.java
  testcontainers-common/src/main/java/com/playtika/test/common/utils/ContainerUtils.java
Labels: enhancement, feature

#1180 Remove unused container capabilities
  README.adoc
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeProperties.java
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/test/cockroach/EmbeddedCockroachDBBootstrapConfiguration.java
  embedded-couchbase/src/main/java/com/playtika/test/couchbase/CouchbaseProperties.java
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/ElasticSearchProperties.java
  embedded-mariadb/src/main/java/com/playtika/test/mariadb/MariaDBProperties.java
  embedded-memsql/src/main/java/com/playtika/test/memsql/MemSqlProperties.java
  embedded-minio/src/main/java/com/playtika/test/minio/MinioProperties.java
  embedded-mysql/src/main/java/com/playtika/test/mysql/MySQLProperties.java
  embedded-nats/src/main/java/com/playtika/test/nats/NatsProperties.java
  embedded-neo4j/src/main/java/com/playtika/test/neo4j/Neo4jProperties.java
  embedded-redis/src/main/java/com/playtika/test/redis/RedisProperties.java
Labels: enhancement

#1189 victoriametrics/victoria-metrics:v1.89.1
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/test/victoriametrics/VictoriaMetricsProperties.java
Labels: dependencies

#1191 redis:7.0.9-alpine
  embedded-redis/README.adoc
  embedded-redis/src/main/java/com/playtika/test/redis/RedisProperties.java
Labels: dependencies

#1193 docker.elastic.co/elasticsearch/elasticsearch:8.6.2
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/ElasticSearchProperties.java
Labels: dependencies

#1198 #633 replace joda-time with java.time api
  embedded-aerospike/pom.xml
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeTestOperations.java
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/DateTimeUtils.java
  embedded-aerospike/src/test/java/com/playtika/test/aerospike/AerospikeTimeTravelTest.java
Labels: enhancement, help wanted, housekeeping

#1199 [NOTE] docker image does not support ARM
  embedded-google-pubsub/README.adoc
  embedded-memsql/README.adoc
Labels: documentation
