Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2023-09, with the labels that each got.

#1454 added optional network binding for wiremock contrainer
  embedded-wiremock/src/main/java/com/playtika/testcontainers/wiremock/EmbeddedWiremockBootstrapConfiguration.java
Labels: bug

#1455 chore(deps): update clickhouse/clickhouse-server docker tag to v23.7.5
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1456 chore(deps): update cockroachdb/cockroach docker tag to v23.1.8
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#1457 chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v8.9.1
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/testcontainer/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images

#1458 chore(deps): update mongo docker tag to v6.0.9
  embedded-mongodb/src/main/java/com/playtika/testcontainer/mongodb/MongodbProperties.java
Labels: docker-update-images

#1459 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.63.14
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1460 chore(deps): update apachepulsar/pulsar docker tag to v3.1.0
  embedded-pulsar/README.adoc
  embedded-pulsar/src/main/java/com/playtika/testcontainer/pulsar/PulsarProperties.java
Labels: docker-update-images

#1462 chore(deps): update confluentinc/cp-schema-registry docker tag to v7.5.0
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/SchemaRegistryConfigurationProperties.java
Labels: docker-update-images

#1464 chore(deps): update grafana/grafana docker tag to v10.1.1
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1470 chore(deps): update zookeeper docker tag to v3.9.0
  embedded-zookeeper/src/main/java/com/playtika/testcontainers/zookeeper/ZookeeperConfigurationProperties.java
Labels: docker-update-images

#1469 chore(deps): update wiremock/wiremock docker tag to v2.35.0
  embedded-wiremock/README.adoc
  embedded-wiremock/src/main/java/com/playtika/testcontainers/wiremock/WiremockProperties.java
Labels: docker-update-images

#1468 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.93.1
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#1467 chore(deps): update redis docker tag to v7.2.0
  embedded-redis/README.adoc
  embedded-redis/src/main/java/com/playtika/testcontainer/redis/RedisProperties.java
Labels: docker-update-images

#1466 chore(deps): update neo4j docker tag to v5.11
  embedded-neo4j/README.adoc
  embedded-neo4j/src/main/java/com/playtika/testcontainer/neo4j/Neo4jProperties.java
Labels: docker-update-images

#1465 chore(deps): update mcr.microsoft.com/azure-storage/azurite docker tag to v3.26.0
  embedded-azurite/src/main/java/com/playtika/testcontainer/azurite/AzuriteProperties.java
Labels: docker-update-images

#1471 chore(deps): update google/cloud-sdk docker tag to v444
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#1472 chore(deps): update mongo docker tag to v7
  embedded-mongodb/src/main/java/com/playtika/testcontainer/mongodb/MongodbProperties.java
Labels: docker-update-images

#1463 chore(deps): update ghcr.io/shopify/toxiproxy docker tag to v2.6.0
  embedded-toxiproxy/README.adoc
  embedded-toxiproxy/src/main/java/com/playtika/testcontainer/toxiproxy/ToxiProxyProperties.java
Labels: docker-update-images

#1478 chore(deps): update mongo docker tag to v7.0.1
  embedded-mongodb/src/main/java/com/playtika/testcontainer/mongodb/MongodbProperties.java
Labels: docker-update-images

#1482 chore(deps): update prom/prometheus docker tag to v2.47.0
  embedded-prometheus/README.adoc
  embedded-prometheus/src/main/java/com/playtika/testcontainer/prometheus/PrometheusProperties.java
Labels: docker-update-images

#1477 fix(deps): add test scope to camel-xml-io dependency
  embedded-kafka/pom.xml
Labels: bug, good first issue

#1479 chore(deps): update rancher/k3s docker tag to v1.27.5
  embedded-k3s/README.adoc
  embedded-k3s/src/main/java/com/playtika/testcontainer/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1480 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.93.3
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#1481 chore(deps): update clickhouse/clickhouse-server docker tag to v23.8.2
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1494 chore(deps): update google/cloud-sdk docker tag to v445
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#1493 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.68.7
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1492 chore(deps): update rancher/k3s docker tag to v1.28.1
  embedded-k3s/README.adoc
  embedded-k3s/src/main/java/com/playtika/testcontainer/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1491 chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v8.10.0
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/testcontainer/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images

#1490 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.93.4
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#1489 chore(deps): update redis docker tag to v7.2.1
  embedded-redis/README.adoc
  embedded-redis/src/main/java/com/playtika/testcontainer/redis/RedisProperties.java
Labels: docker-update-images

#1488 chore(deps): update quay.io/keycloak/keycloak docker tag to v22.0.2
  embedded-keycloak/src/main/java/com/playtika/testcontainer/keycloak/KeycloakProperties.java
  embedded-keycloak/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1487 chore(deps): update ghcr.io/singlestore-labs/singlestoredb-dev docker tag to v0.2.9
  embedded-memsql/README.adoc
  embedded-memsql/src/main/java/com/playtika/testcontainer/memsql/MemSqlProperties.java
Labels: docker-update-images

#1486 chore(deps): update cockroachdb/cockroach docker tag to v23.1.9
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#1497 added opensearch container
  README.adoc
  embedded-opensearch/README.adoc
  embedded-opensearch/pom.xml
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/EmbeddedOpenSearchBootstrapConfiguration.java
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/EmbeddedOpenSearchRestClientDependenciesAutoConfiguration.java
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/OpenSearchContainerFactory.java
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/OpenSearchProperties.java
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/rest/CreateIndex.java
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/rest/WaitForGreenStatus.java
  embedded-opensearch/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-opensearch/src/main/resources/META-INF/spring.factories
  embedded-opensearch/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-opensearch/src/test/java/com/playtika/testcontainer/opensearch/DisabledOpenSearchTest.java
  embedded-opensearch/src/test/java/com/playtika/testcontainer/opensearch/EmbeddedOpenSearchBootstrapConfigurationTest.java
  embedded-opensearch/src/test/java/com/playtika/testcontainer/opensearch/springdata/SpringDataTest.java
  embedded-opensearch/src/test/java/com/playtika/testcontainer/opensearch/springdata/TestDocument.java
  embedded-opensearch/src/test/java/com/playtika/testcontainer/opensearch/springdata/TestDocumentRepository.java
  embedded-opensearch/src/test/resources/application-enabled.properties
  embedded-opensearch/src/test/resources/bootstrap.properties
  embedded-opensearch/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: good first issue, feature

#1499 [Snyk] Security upgrade io.minio:minio from 8.5.5 to 8.5.6
  embedded-minio/pom.xml
Labels: dependencies, security

#1504 fix: resolved issue with embedded wiremock module autoconfiguration
  embedded-wiremock/src/main/java/com/playtika/testcontainers/wiremock/EmbeddedWiremockBootstrapConfiguration.java
  embedded-wiremock/src/main/java/com/playtika/testcontainers/wiremock/EmbeddedWiremockDependenciesAutoConfiguration.java
  embedded-wiremock/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: bug

#1509 chore(deps): update quay.io/keycloak/keycloak docker tag to v22.0.3
  embedded-keycloak/src/main/java/com/playtika/testcontainer/keycloak/KeycloakProperties.java
  embedded-keycloak/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1508 chore(deps): update grafana/grafana docker tag to v10.1.2
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1506 chore(deps): update couchbase/server docker tag to v7.2.2
  embedded-couchbase/README.adoc
  embedded-couchbase/src/main/java/com/playtika/testcontainer/couchbase/CouchbaseProperties.java
Labels: docker-update-images

#1505 chore(deps): update cockroachdb/cockroach docker tag to v23.1.10
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#1514 chore(deps): update neo4j docker tag to v5.12
  embedded-neo4j/README.adoc
  embedded-neo4j/src/main/java/com/playtika/testcontainer/neo4j/Neo4jProperties.java
Labels: docker-update-images

#1512 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.93.5
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#1511 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.68.11
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1510 chore(deps): update rancher/k3s docker tag to v1.28.2
  embedded-k3s/README.adoc
  embedded-k3s/src/main/java/com/playtika/testcontainer/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1513 chore(deps): update nats docker tag to v2.10
  embedded-nats/README.adoc
  embedded-nats/src/main/java/com/playtika/testcontainer/nats/NatsProperties.java
Labels: docker-update-images

#1507 chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v8.10.2
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/testcontainer/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images
