Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2023-12, with the labels that each got.

#1644 fixed multiply bean provided
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/AerospikeProperties.java
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/EmbeddedAerospikeBootstrapConfiguration.java
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/EmbeddedAerospikeDependenciesAutoConfiguration.java
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/EmbeddedAerospikeTestOperationsAutoConfiguration.java
  embedded-aerospike/src/test/java/com/playtika/testcontainer/aerospike/EmbeddedAerospikeBootstrapConfigurationTest.java
  embedded-couchbase/src/main/java/com/playtika/testcontainer/couchbase/CouchbaseProperties.java
  embedded-couchbase/src/main/java/com/playtika/testcontainer/couchbase/EmbeddedCouchbaseTestOperationsAutoConfiguration.java
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/configuration/EmbeddedKafkaTestOperationsAutoConfiguration.java
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/configuration/KafkaContainerConfiguration.java
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/KafkaConfigurationProperties.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/EmbeddedKeyDbTestOperationsAutoConfiguration.java
  embedded-keydb/src/main/java/com/playtika/testcontainer/keydb/KeyDbProperties.java
  embedded-mariadb/src/main/java/com/playtika/testcontainer/mariadb/EmbeddedMariaDBTestOperationsAutoConfiguration.java
  embedded-mariadb/src/main/java/com/playtika/testcontainer/mariadb/MariaDBProperties.java
  embedded-memsql/src/main/java/com/playtika/testcontainer/memsql/EmbeddedMemSqlTestOperationsAutoConfiguration.java
  embedded-memsql/src/main/java/com/playtika/testcontainer/memsql/MemSqlProperties.java
  embedded-minio/src/main/java/com/playtika/testcontainer/minio/EmbeddedMinioBootstrapConfiguration.java
  embedded-minio/src/main/java/com/playtika/testcontainer/minio/EmbeddedMinioTestOperationsAutoConfiguration.java
  embedded-minio/src/main/java/com/playtika/testcontainer/minio/MinioProperties.java
  embedded-mongodb/src/main/java/com/playtika/testcontainer/mongodb/EmbeddedMongodbTestOperationsAutoConfiguration.java
  embedded-mongodb/src/main/java/com/playtika/testcontainer/mongodb/MongodbProperties.java
  embedded-mysql/src/main/java/com/playtika/testcontainer/mysql/EmbeddedMySQLTestOperationsAutoConfiguration.java
  embedded-mysql/src/main/java/com/playtika/testcontainer/mysql/MySQLProperties.java
  embedded-neo4j/src/main/java/com/playtika/testcontainer/neo4j/EmbeddedNeo4jTestOperationsAutoConfiguration.java
  embedded-neo4j/src/main/java/com/playtika/testcontainer/neo4j/Neo4jProperties.java
  embedded-redis/src/main/java/com/playtika/testcontainer/redis/EmbeddedRedisTestOperationsAutoConfiguration.java
  embedded-redis/src/main/java/com/playtika/testcontainer/redis/RedisProperties.java
Labels: bug, enhancement

#1651 added support of durable delete
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/AerospikeExpiredDocumentsCleaner.java
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/AerospikeProperties.java
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/EmbeddedAerospikeTestOperationsAutoConfiguration.java
  embedded-aerospike/src/test/java/com/playtika/testcontainer/aerospike/AerospikeExpiredDocumentsCleanerWithDurableDeleteTest.java
  embedded-aerospike/src/test/java/com/playtika/testcontainer/aerospike/ReplaceExpiredDocumentsCleanerBeanTest.java
Labels: enhancement

#1663 chore(deps): update clickhouse/clickhouse-server docker tag to v23.11.2
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1661 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.71.8
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1659 chore(deps): update prom/prometheus docker tag to v2.48.1
  embedded-prometheus/README.adoc
  embedded-prometheus/src/main/java/com/playtika/testcontainer/prometheus/PrometheusProperties.java
Labels: docker-update-images

#1658 chore(deps): update opensearchproject/opensearch docker tag to v2.11.1
  embedded-opensearch/README.adoc
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/OpenSearchProperties.java
Labels: docker-update-images

#1657 chore(deps): update mongo docker tag to v7.0.4
  embedded-mongodb/src/main/java/com/playtika/testcontainer/mongodb/MongodbProperties.java
Labels: docker-update-images

#1654 chore(deps): update cockroachdb/cockroach docker tag to v23.1.13
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#1655 chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v8.11.3
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/testcontainer/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images

#1660 chore(deps): update rancher/k3s docker tag to v1.28.4
  embedded-k3s/README.adoc
  embedded-k3s/src/main/java/com/playtika/testcontainer/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1656 chore(deps): update grafana/grafana docker tag to v10.2.2
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1666 chore(deps): update rockstorm/git-server docker tag to v2.43
  embedded-git/src/main/java/com/playtika/testcontainer/git/GitProperties.java
Labels: docker-update-images

#1664 chore(deps): update mcr.microsoft.com/azure-storage/azurite docker tag to v3.29.0
  embedded-azurite/src/main/java/com/playtika/testcontainer/azurite/AzuriteProperties.java
Labels: docker-update-images

#1667 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.96.0
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#1652 added support of durable delete
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeExpiredDocumentsCleaner.java
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeProperties.java
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/EmbeddedAerospikeTestOperationsAutoConfiguration.java
  embedded-aerospike/src/test/java/com/playtika/test/aerospike/AerospikeExpiredDocumentsCleanerWithDurableDeleteTest.java
  embedded-aerospike/src/test/java/com/playtika/test/aerospike/ReplaceExpiredDocumentsCleanerBeanTest.java
Labels: enhancement

#1653 added support of durable delete
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/AerospikeExpiredDocumentsCleaner.java
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/AerospikeProperties.java
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/EmbeddedAerospikeTestOperationsAutoConfiguration.java
  embedded-aerospike/src/test/java/com/playtika/testcontainer/aerospike/AerospikeExpiredDocumentsCleanerWithDurableDeleteTest.java
  embedded-aerospike/src/test/java/com/playtika/testcontainer/aerospike/ReplaceExpiredDocumentsCleanerBeanTest.java
Labels: enhancement
