Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2023-02, with the labels that each got.

#1129 log errors in DefaultNetworkTestOperations.withNetworkLatency()
  testcontainers-common/src/main/java/com/playtika/test/common/operations/DefaultNetworkTestOperations.java
Labels: bug

#1137 spring boot 3 upgrade
  .github/workflows/maven.yml
  .github/workflows/release.yml
  embedded-cassandra/src/test/resources/application-enabled.properties
  embedded-couchbase/src/test/java/com/playtika/test/couchbase/EmbeddedCouchbaseBootstrapConfigurationTest.java
  embedded-db2/src/main/java/com/playtika/test/db2/Db2Properties.java
  embedded-dynamodb/src/test/java/com/playtika/test/dynamodb/EmbeddedDynamoDBBootstrapConfigurationTest.java
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/ElasticSearchContainerFactory.java
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/ElasticSearchProperties.java
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/EmbeddedElasticSearchDependenciesAutoConfiguration.java
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/EmbeddedElasticSearchTestOperationsAutoConfiguration.java
  embedded-elasticsearch/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-elasticsearch/src/test/java/com/playtika/test/elasticsearch/DisabledElasticSearchTest.java
  embedded-elasticsearch/src/test/java/com/playtika/test/elasticsearch/springdata/SpringDataTest.java
  embedded-elasticsearch/src/test/resources/application-enabled.properties
  embedded-google-pubsub/src/main/java/com/playtika/test/pubsub/EmbeddedPubsubDependenciesAutoConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/configuration/camel/EmbeddedKafkaCamelAutoConfiguration.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/KafkaConfigurationProperties.java
  embedded-keycloak/pom.xml
  embedded-keycloak/src/main/java/com/playtika/test/keycloak/EmbeddedKeycloakDependenciesAutoConfiguration.java
  embedded-keycloak/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-keycloak/src/test/java/com/playtika/test/keycloak/spring/EmbeddedKeycloakBootstrapConfigurationTest.java
  embedded-keycloak/src/test/java/com/playtika/test/keycloak/spring/SpringTestApplication.java
  embedded-keycloak/src/test/java/com/playtika/test/keycloak/util/KeycloakJwtAuthenticationConverter.java
  embedded-keycloak/src/test/java/com/playtika/test/keycloak/vanilla/DisableKeycloakTest.java
  embedded-keycloak/src/test/resources/application.yml
  embedded-memsql/src/main/java/com/playtika/test/memsql/MemSqlProperties.java
  embedded-redis/src/test/resources/application-auth.properties
  embedded-redis/src/test/resources/application-enabled.properties
  embedded-selenium/src/test/java/com/playtika/test/selenium/drivers/BaseEmbeddedSeleniumTest.java
  pom.xml
  testcontainers-common/src/main/java/com/playtika/test/common/properties/CommonContainerProperties.java
  testcontainers-spring-boot-parent/pom.xml
Labels: dependencies, breaking-change

#1139 spring boot 3 release drafter
  .github/workflows/changelog-release-drafter.yml
  .github/workflows/maven.yml
Labels: dependencies, housekeeping

#1149 remove voltdb
  embedded-voltdb/README.adoc
  embedded-voltdb/pom.xml
  embedded-voltdb/src/main/java/com/playtika/test/voltdb/EmbeddedVoltDBBootstrapConfiguration.java
  embedded-voltdb/src/main/java/com/playtika/test/voltdb/EmbeddedVoltDBDependenciesAutoConfiguration.java
  embedded-voltdb/src/main/java/com/playtika/test/voltdb/VoltDBProperties.java
  embedded-voltdb/src/main/java/com/playtika/test/voltdb/VoltDBStatusCheck.java
  embedded-voltdb/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-voltdb/src/main/resources/META-INF/spring.factories
  embedded-voltdb/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-voltdb/src/test/java/com/playtika/test/voltdb/AutoConfiguredDatasourceDependsOnTest.java
  embedded-voltdb/src/test/java/com/playtika/test/voltdb/DisableVoltDBTest.java
  embedded-voltdb/src/test/java/com/playtika/test/voltdb/EmbeddedVoltDBBootstrapConfigurationTest.java
  embedded-voltdb/src/test/resources/application-enabled.properties
  embedded-voltdb/src/test/resources/log4j2.xml
  pom.xml
Labels: enhancement, dependencies, breaking-change
