Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2023-04, with the labels that each got.

#1207 Adding testcontainer for git
  README.adoc
  embedded-git/README.adoc
  embedded-git/pom.xml
  embedded-git/src/main/java/com/playtika/test/git/EmbeddedGitBootstrapConfiguration.java
  embedded-git/src/main/java/com/playtika/test/git/GitProperties.java
  embedded-git/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-git/src/main/resources/META-INF/spring.factories
  embedded-git/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-git/src/main/resources/config/sshd_config
  embedded-git/src/test/java/EmbeddedGitBootstrapConfigurationTest.java
  embedded-git/src/test/java/GitContextTest.java
  embedded-git/src/test/java/config/CustomSshdSessionFactory.java
  embedded-git/src/test/java/config/CustomTransportConfigCallback.java
  embedded-git/src/test/java/util/EncryptionUtils.java
  embedded-git/src/test/resources/config/sshd_config
  embedded-git/src/test/resources/key/embedded-git
  embedded-git/src/test/resources/key/embedded-git.pem
  embedded-git/src/test/resources/key/embedded-git.pub
  embedded-git/src/test/resources/key/pk_pem_encoded.txt
  embedded-git/src/test/resources/repository/empty-repository.git/HEAD
  embedded-git/src/test/resources/repository/empty-repository.git/config
  embedded-git/src/test/resources/repository/empty-repository.git/description
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/applypatch-msg.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/commit-msg.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/fsmonitor-watchman.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/post-update.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/pre-applypatch.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/pre-commit.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/pre-push.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/pre-rebase.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/pre-receive.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/prepare-commit-msg.sample
  embedded-git/src/test/resources/repository/empty-repository.git/hooks/update.sample
  embedded-git/src/test/resources/repository/empty-repository.git/info/exclude
  embedded-git/src/test/resources/repository/empty-repository.git/objects/24/80d8f508f462ad28b7e1e67467a54e97e71141
  embedded-git/src/test/resources/repository/empty-repository.git/objects/f3/91ee6c70758fdd6eb0c366d9842d0ce82a6b16
  embedded-git/src/test/resources/repository/empty-repository.git/objects/f5/84548e4afd73905197b4e6cbdb4b0fd77c0451
  embedded-git/src/test/resources/repository/empty-repository.git/refs/heads/master
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: enhancement, feature

#1212 Fix docs and naming configuration
  LICENSE
  README.adoc
  pom.xml
Labels: enhancement, documentation

#1220 Invert enable docker cleanup images
  .github/workflows/codeql-analysis.yml
  .github/workflows/maven.yml
  .github/workflows/release.yml
  .github/workflows/validate_release_test.yml
  pom.xml
Labels: enhancement, question

#1221 Add basic additional-spring-configuration-metadata for configuration properties
  embedded-aerospike/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-artifactory/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-azurite/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-consul/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-db2/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-dynamodb/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-grafana/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-minio/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-mockserver/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-mssqlserver/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-prometheus/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-selenium/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-solr/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-toxiproxy/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-victoriametrics/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: enhancement

#1223 Updated MongoDB image to 6.0.5-jammy
  embedded-mongodb/README.adoc
  embedded-mongodb/src/main/java/com/playtika/test/mongodb/MongodbProperties.java
Labels: dependencies

#1231 Add Auto Update docker image functionality
  .github/labeler.yml
  .github/pull_request_template.md
  .github/renovate.json
  .github/workflows/labeler.yml
  .github/workflows/renovate.yml
  .mvn/wrapper/maven-wrapper.properties
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/AerospikeProperties.java
  embedded-artifactory/src/main/java/com/playtika/test/artifactory/ArtifactoryProperties.java
  embedded-azurite/src/main/java/com/playtika/test/azurite/AzuriteProperties.java
  embedded-cassandra/src/main/java/com/playtika/test/cassandra/CassandraProperties.java
  embedded-clickhouse/src/main/java/com/playtika/test/clickhouse/ClickHouseProperties.java
  embedded-clickhouse/src/test/java/com/playtika/test/clickhouse/EmbeddedClickHouseBootstrapConfigurationTest.java
  embedded-cockroachdb/src/main/java/com/playtika/test/cockroach/CockroachDBProperties.java
  embedded-consul/src/main/java/com/playtika/test/consul/ConsulProperties.java
  embedded-couchbase/src/main/java/com/playtika/test/couchbase/CouchbaseProperties.java
  embedded-db2/src/main/java/com/playtika/test/db2/Db2Properties.java
  embedded-dynamodb/src/main/java/com/playtika/test/dynamodb/DynamoDBProperties.java
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/ElasticSearchProperties.java
  embedded-git/src/main/java/com/playtika/test/git/GitProperties.java
  embedded-google-pubsub/src/main/java/com/playtika/test/pubsub/PubsubProperties.java
  embedded-google-pubsub/src/test/java/com/playtika/test/pubsub/EmbeddedPubsubBootstrapConfigurationTest.java
  embedded-google-storage/src/main/java/com/playtika/test/storage/StorageProperties.java
  embedded-grafana/src/main/java/com/playtika/test/grafana/GrafanaProperties.java
  embedded-influxdb/src/main/java/com/playtika/test/influxdb/InfluxDBProperties.java
  embedded-k3s/src/main/java/com/playtika/test/k3s/K3sProperties.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/KafkaConfigurationProperties.java
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/SchemaRegistryConfigurationProperties.java
  embedded-keycloak/src/main/java/com/playtika/test/keycloak/KeycloakProperties.java
  embedded-localstack/src/main/java/com/playtika/test/localstack/LocalStackProperties.java
  embedded-mariadb/src/main/java/com/playtika/test/mariadb/MariaDBProperties.java
  embedded-memsql/src/main/java/com/playtika/test/memsql/MemSqlProperties.java
  embedded-minio/src/main/java/com/playtika/test/minio/MinioProperties.java
  embedded-mockserver/src/main/java/com/playtika/test/mockserver/MockServerProperties.java
  embedded-mongodb/src/main/java/com/playtika/test/mongodb/MongodbProperties.java
  embedded-mssqlserver/src/main/java/com/playtika/test/mssqlserver/MSSQLServerProperties.java
  embedded-mysql/src/main/java/com/playtika/test/mysql/MySQLProperties.java
  embedded-nats/src/main/java/com/playtika/test/nats/NatsProperties.java
  embedded-neo4j/src/main/java/com/playtika/test/neo4j/Neo4jProperties.java
  embedded-oracle-xe/src/main/java/com/playtika/test/oracle/OracleProperties.java
  embedded-postgresql/src/main/java/com/playtika/test/postgresql/PostgreSQLProperties.java
  embedded-prometheus/src/main/java/com/playtika/test/prometheus/PrometheusProperties.java
  embedded-pulsar/src/main/java/com/playtika/test/pulsar/PulsarProperties.java
  embedded-rabbitmq/src/main/java/com/playtika/test/rabbitmq/RabbitMQProperties.java
  embedded-redis/src/main/java/com/playtika/test/redis/RedisProperties.java
  embedded-selenium/src/main/java/com/playtika/test/selenium/EmbeddedSeleniumBootstrapConfiguration.java
  embedded-selenium/src/main/java/com/playtika/test/selenium/SeleniumProperties.java
  embedded-solr/src/main/java/com/playtika/test/solr/SolrProperties.java
  embedded-toxiproxy/src/main/java/com/playtika/test/toxiproxy/ToxiProxyProperties.java
  embedded-vault/src/main/java/com/playtika/test/vault/VaultProperties.java
  embedded-vertica/src/main/java/com/playtika/test/vertica/VerticaProperties.java
  embedded-victoriametrics/src/main/java/com/playtika/test/victoriametrics/VictoriaMetricsProperties.java
Labels: enhancement

#1237 Update vertica/vertica-ce Docker tag to v11.1.1
  embedded-vertica/src/main/java/com/playtika/test/vertica/VerticaProperties.java
Labels: dependencies, docker-update-images

#1236 Update redis Docker tag to v7.0.11
  embedded-redis/src/main/java/com/playtika/test/redis/RedisProperties.java
Labels: dependencies, docker-update-images

#1233 Update cockroachdb/cockroach Docker tag to v19.2.12
  embedded-cockroachdb/src/main/java/com/playtika/test/cockroach/CockroachDBProperties.java
Labels: dependencies, docker-update-images

#1240 Update apachepulsar/pulsar Docker tag to v2.11.1
  embedded-pulsar/src/main/java/com/playtika/test/pulsar/PulsarProperties.java
Labels: docker-update-images

#1242 Update cassandra Docker tag to v4.1
  embedded-cassandra/src/main/java/com/playtika/test/cassandra/CassandraProperties.java
Labels: docker-update-images

#1243 Update confluentinc/cp-kafka Docker tag to v7.3.3
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/KafkaConfigurationProperties.java
Labels: docker-update-images

#1246 Update consul Docker tag to v1.15
  embedded-consul/src/main/java/com/playtika/test/consul/ConsulProperties.java
Labels: docker-update-images

#1245 Update confluentinc/cp-schema-registry Docker tag to v7.3.3
  embedded-kafka/src/main/java/com/playtika/test/kafka/properties/SchemaRegistryConfigurationProperties.java
Labels: docker-update-images

#1248 Update clickhouse/clickhouse-server Docker tag to v23.2.6
  .github/dependabot.yml
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/test/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1239 Update localstack/localstack Docker tag to v0.14.5
  embedded-localstack/src/main/java/com/playtika/test/localstack/LocalStackProperties.java
  embedded-localstack/src/test/java/com/playtika/test/localstack/EmbeddedLocalStackTest.java
Labels: docker-update-images

#1250 Update docker.elastic.co/elasticsearch/elasticsearch Docker tag to v8.7.0
  embedded-elasticsearch/src/main/java/com/playtika/test/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images

#1249 Update couchbase/server Docker tag to v7.1.4
  embedded-couchbase/src/main/java/com/playtika/test/couchbase/CouchbaseProperties.java
Labels: docker-update-images

#1256 Update grafana/grafana Docker tag to v9.5.1
  embedded-grafana/src/main/java/com/playtika/test/grafana/GrafanaProperties.java
Labels: docker-update-images

#1258 Update influxdb Docker tag to v2.7
  embedded-influxdb/src/main/java/com/playtika/test/influxdb/InfluxDBProperties.java
Labels: docker-update-images

#1262 Update prom/prometheus Docker tag to v2.43.0
  embedded-prometheus/src/main/java/com/playtika/test/prometheus/PrometheusProperties.java
Labels: docker-update-images

#1264 Update quay.io/keycloak/keycloak Docker tag to v21.1.1
  embedded-keycloak/src/main/java/com/playtika/test/keycloak/KeycloakProperties.java
Labels: docker-update-images

#1265 Update rabbitmq Docker tag to v3.11
  embedded-rabbitmq/src/main/java/com/playtika/test/rabbitmq/RabbitMQProperties.java
Labels: docker-update-images

#1268 Update releases-docker.jfrog.io/jfrog/artifactory-oss Docker tag to v7.55.10
  embedded-artifactory/src/main/java/com/playtika/test/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1270 Update vault Docker tag to v1.13.1
  embedded-vault/src/main/java/com/playtika/test/vault/VaultProperties.java
Labels: docker-update-images

#1269 Update solr Docker tag to v9.2
  embedded-solr/src/main/java/com/playtika/test/solr/SolrProperties.java
Labels: docker-update-images

#1272 Update cockroachdb/cockroach Docker tag to v22
  embedded-cockroachdb/src/main/java/com/playtika/test/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#1271 Update victoriametrics/victoria-metrics Docker tag to v1.90.0
  embedded-victoriametrics/src/main/java/com/playtika/test/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#1274 Update google/cloud-sdk Docker tag to v428
  embedded-google-pubsub/src/main/java/com/playtika/test/pubsub/PubsubProperties.java
Labels: docker-update-images

#1273 Update clickhouse/clickhouse-server Docker tag to v23.4.1
  embedded-clickhouse/src/main/java/com/playtika/test/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1276 Update localstack/localstack Docker tag to v2
  embedded-localstack/src/main/java/com/playtika/test/localstack/LocalStackProperties.java
Labels: docker-update-images

#1275 Update gvenzl/oracle-xe Docker tag to v21
  embedded-oracle-xe/src/main/java/com/playtika/test/oracle/OracleProperties.java
Labels: docker-update-images

#1278 Update vertica/vertica-ce Docker tag to v12
  embedded-vertica/src/main/java/com/playtika/test/vertica/VerticaProperties.java
Labels: docker-update-images

#1277 Update postgres Docker tag to v15
  embedded-postgresql/src/main/java/com/playtika/test/postgresql/PostgreSQLProperties.java
Labels: docker-update-images

#1267 Update rancher/k3s Docker tag to v1.26.4
  .github/renovate/renovate.json
  embedded-k3s/src/main/java/com/playtika/test/k3s/EmbeddedK3sBootstrapConfiguration.java
  embedded-k3s/src/main/java/com/playtika/test/k3s/K3sProperties.java
  embedded-k3s/src/test/java/com/playtika/test/k3s/EmbeddedK3sBootstrapConfigurationTest.java
  embedded-k3s/src/test/java/com/playtika/test/k3s/TestApplication.java
Labels: docker-update-images
