Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2024-01, with the labels that each got.

#1691 chore(deps): update google/cloud-sdk docker tag to v458
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#1690 chore(deps): update rancher/k3s docker tag to v1.29.0
  embedded-k3s/README.adoc
  embedded-k3s/src/main/java/com/playtika/testcontainer/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1689 chore(deps): update neo4j docker tag to v5.15
  embedded-neo4j/README.adoc
  embedded-neo4j/src/main/java/com/playtika/testcontainer/neo4j/Neo4jProperties.java
Labels: docker-update-images

#1688 chore(deps): update clickhouse/clickhouse-server docker tag to v23.12.1
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1687 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.71.10
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1682 chore(deps): update apachepulsar/pulsar docker tag to v3.1.2
  embedded-pulsar/README.adoc
  embedded-pulsar/src/main/java/com/playtika/testcontainer/pulsar/PulsarProperties.java
Labels: docker-update-images

#1684 chore(deps): update confluentinc/cp-schema-registry docker tag to v7.5.3
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/SchemaRegistryConfigurationProperties.java
Labels: docker-update-images

#1685 chore(deps): update fsouza/fake-gcs-server docker tag to v1.47.7
  embedded-google-storage/src/main/java/com/playtika/testcontainer/storage/StorageProperties.java
Labels: docker-update-images

#1686 chore(deps): update grafana/grafana docker tag to v10.2.3
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1698 Add MailHog module (#1697)
  README.adoc
  embedded-mailhog/README.adoc
  embedded-mailhog/pom.xml
  embedded-mailhog/src/main/java/com/playtika/testcontainer/mailhog/EmbeddedMailHogBootstrapConfiguration.java
  embedded-mailhog/src/main/java/com/playtika/testcontainer/mailhog/MailHogProperties.java
  embedded-mailhog/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-mailhog/src/main/resources/META-INF/spring.factories
  embedded-mailhog/src/test/java/com/playtika/testcontainer/mailhog/DisableMailHogTest.java
  embedded-mailhog/src/test/java/com/playtika/testcontainer/mailhog/DisableToxiProxyTest.java
  embedded-mailhog/src/test/java/com/playtika/testcontainer/mailhog/EmbeddedMailHogBootstrapConfigurationTest.java
  embedded-mailhog/src/test/java/com/playtika/testcontainer/mailhog/TestApplication.java
  embedded-mailhog/src/test/resources/application.properties
  embedded-mailhog/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: good first issue, feature

#1705 embedded aerospike enterprise
  embedded-aerospike-enterprise/README.adoc
  embedded-aerospike-enterprise/pom.xml
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/AerospikeEnterpriseConfigurer.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/AerospikeEnterpriseProperties.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/EnterpriseAerospikeTestOperationsAutoConfiguration.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/ImageVersion.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/SetupEnterpriseAerospikeBootstrapConfiguration.java
  embedded-aerospike-enterprise/src/main/resources/META-INF/spring.factories
  embedded-aerospike-enterprise/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-aerospike-enterprise/src/main/resources/embedded-enterprise-aerospike.properties
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/BaseEnterpriseAerospikeTest.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/EnterpriseAerospikeDefaultTest.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/EnterpriseAerospikeWithoutDurableDeletesTest.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/ImageVersionTest.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/ValidateEnterpriseAerospikeBootstrapConfigurationTest.java
  embedded-aerospike-enterprise/src/test/resources/log4j2.xml
  embedded-aerospike/README.adoc
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/EmbeddedAerospikeBootstrapConfiguration.java
  pom.xml
  testcontainers-spring-boot-parent/pom.xml
Labels: enhancement

#1704 embedded aerospike enterprise
  embedded-aerospike-enterprise/README.adoc
  embedded-aerospike-enterprise/pom.xml
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/AerospikeEnterpriseConfigurer.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/AerospikeEnterpriseProperties.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/EnterpriseAerospikeTestOperationsAutoConfiguration.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/ImageVersion.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/SetupEnterpriseAerospikeBootstrapConfiguration.java
  embedded-aerospike-enterprise/src/main/resources/META-INF/spring.factories
  embedded-aerospike-enterprise/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  embedded-aerospike-enterprise/src/main/resources/embedded-enterprise-aerospike.properties
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/BaseEnterpriseAerospikeTest.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/EnterpriseAerospikeDefaultTest.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/EnterpriseAerospikeWithoutDurableDeletesTest.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/ImageVersionTest.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/ValidateEnterpriseAerospikeBootstrapConfigurationTest.java
  embedded-aerospike-enterprise/src/test/resources/log4j2.xml
  embedded-aerospike/README.adoc
  embedded-aerospike/src/main/java/com/playtika/test/aerospike/EmbeddedAerospikeBootstrapConfiguration.java
  pom.xml
  testcontainers-spring-boot-parent/pom.xml
Labels: enhancement

#1706 added 'embedded-aerospike-enterprise' to dependency management
  testcontainers-spring-boot-bom/pom.xml
Labels: enhancement

#1716 Add SpiceDB test container
  README.adoc
  embedded-spicedb/README.adoc
  embedded-spicedb/pom.xml
  embedded-spicedb/src/main/java/com/playtika/testcontainer/spicedb/EmbeddedSpiceDBBootstrapConfiguration.java
  embedded-spicedb/src/main/java/com/playtika/testcontainer/spicedb/SpiceDBProperties.java
  embedded-spicedb/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-spicedb/src/main/resources/META-INF/spring.factories
  embedded-spicedb/src/test/java/com/playtika/testcontainer/spicedb/BaseSpiceDbTest.java
  embedded-spicedb/src/test/java/com/playtika/testcontainer/spicedb/DisableSpiceDBTest.java
  embedded-spicedb/src/test/java/com/playtika/testcontainer/spicedb/EmbeddedSpiceDbBootstrapConfigurationTest.java
  embedded-spicedb/src/test/resources/bootstrap.properties
  embedded-spicedb/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: enhancement, feature

#1717 Fixed wait strategy
  embedded-db2/src/main/java/com/playtika/testcontainer/db2/EmbeddedDb2BootstrapConfiguration.java
  embedded-mssqlserver/src/main/java/com/playtika/testcontainer/mssqlserver/EmbeddedMSSQLServerBootstrapConfiguration.java
  embedded-postgresql/src/main/java/com/playtika/testcontainer/postgresql/EmbeddedPostgreSQLBootstrapConfiguration.java
  embedded-selenium/src/main/java/com/playtika/testcontainer/selenium/EmbeddedSeleniumBootstrapConfiguration.java
  embedded-spicedb/src/test/java/com/playtika/testcontainer/spicedb/EmbeddedSpiceDbBootstrapConfigurationTest.java
Labels: bug

#1723 chore(deps): update redis docker tag to v7.2.4
  embedded-redis/README.adoc
  embedded-redis/src/main/java/com/playtika/testcontainer/redis/RedisProperties.java
Labels: docker-update-images

#1727 chore(deps): update grafana/grafana docker tag to v10.3.1
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1725 chore(deps): update authzed/spicedb docker tag to v1.29.0
  embedded-spicedb/README.adoc
  embedded-spicedb/src/main/java/com/playtika/testcontainer/spicedb/SpiceDBProperties.java
Labels: docker-update-images

#1722 chore(deps): update mongo docker tag to v7.0.5
  embedded-mongodb/src/main/java/com/playtika/testcontainer/mongodb/MongodbProperties.java
Labels: docker-update-images

#1720 chore(deps): update cockroachdb/cockroach docker tag to v23.1.14
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#1718 chore(deps): update amazon/dynamodb-local docker tag to v2.2.1
  embedded-dynamodb/src/main/java/com/playtika/testcontainer/dynamodb/DynamoDBProperties.java
Labels: docker-update-images

#1719 chore(deps): update clickhouse/clickhouse-server docker tag to v23.12.2
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1721 chore(deps): update ghcr.io/singlestore-labs/singlestoredb-dev docker tag to v0.2.13
  embedded-memsql/README.adoc
  embedded-memsql/src/main/java/com/playtika/testcontainer/memsql/MemSqlProperties.java
Labels: docker-update-images

#1724 chore(deps): update aerospike/aerospike-server-enterprise docker tag to v6.4.0.10
  .github/renovate/renovate.json
  embedded-aerospike-enterprise/README.adoc
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/SetupEnterpriseAerospikeBootstrapConfiguration.java
  embedded-aerospike-enterprise/src/main/resources/embedded-enterprise-aerospike.properties
  embedded-aerospike/README.adoc
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/AerospikeProperties.java
Labels: docker-update-images

#1733 chore(deps): update mysql docker tag to v8.3
  embedded-mysql/README.adoc
Labels: docker-update-images

#1734 chore(deps): update neo4j docker tag to v5.16
  embedded-neo4j/README.adoc
  embedded-neo4j/src/main/java/com/playtika/testcontainer/neo4j/Neo4jProperties.java
Labels: docker-update-images

#1735 chore(deps): update prom/prometheus docker tag to v2.49.1
  embedded-prometheus/README.adoc
  embedded-prometheus/src/main/java/com/playtika/testcontainer/prometheus/PrometheusProperties.java
Labels: docker-update-images

#1729 chore(deps): update couchbase/server docker tag to v7.2.4
  embedded-couchbase/README.adoc
  embedded-couchbase/src/main/java/com/playtika/testcontainer/couchbase/CouchbaseProperties.java
Labels: docker-update-images

#1736 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.77.3
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1732 chore(deps): update localstack/localstack docker tag to v3.1.0
  embedded-localstack/README.adoc
  embedded-localstack/src/main/java/com/playtika/testcontainer/localstack/LocalStackProperties.java
  embedded-localstack/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1731 chore(deps): update aerospike/aerospike-server-enterprise docker tag to v6.4.0.10
  embedded-aerospike-enterprise/README.adoc
Labels: docker-update-images

#1740 chore(deps): update vertica/vertica-ce docker tag to v24
  embedded-vertica/README.adoc
  embedded-vertica/src/main/java/com/playtika/testcontainer/vertica/VerticaProperties.java
Labels: docker-update-images

#1739 chore(deps): update google/cloud-sdk docker tag to v461
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#1738 chore(deps): update aerospike/aerospike-server-enterprise docker tag to v7
  embedded-aerospike-enterprise/README.adoc
Labels: docker-update-images

#1737 chore(deps): update aerospike/aerospike-server docker tag to v7
  embedded-aerospike/README.adoc
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/AerospikeProperties.java
Labels: docker-update-images

#1728 Migrate to JDK 21 and release target 17
  .github/workflows/maven.yml
  .github/workflows/release-support-stream.yml
  .github/workflows/release.yml
  .mvn/wrapper/maven-wrapper.properties
  pom.xml
Labels: feature

#1741 Fix Aerospike Enterprise
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/AerospikeEnterpriseConfigurer.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/EnterpriseAerospikeTestOperationsAutoConfiguration.java
  embedded-aerospike-enterprise/src/main/resources/embedded-enterprise-aerospike.properties
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/ValidateEnterpriseAerospikeBootstrapConfigurationTest.java
  embedded-aerospike-enterprise/src/test/resources/log4j2.xml
Labels: bug
