Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2024-02, with the labels that each got.

#1761 switch off stop-writes-sys-memory-pct metric for aerosspike enterprise
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/AerospikeEnterpriseConfigurer.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/AsadmCommandExecutor.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/EnterpriseAerospikeTestOperationsAutoConfiguration.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/AsadmCommandExecutorTest.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/ValidateEnterpriseAerospikeBootstrapConfigurationTest.java
  embedded-aerospike-enterprise/src/test/resources/log4j2.xml
Labels: enhancement, feature

#1763 try fix SINGLESTORE startup
  embedded-memsql/src/main/java/com/playtika/testcontainer/memsql/EmbeddedMemSqlBootstrapConfiguration.java
Labels: bug, enhancement

#1762 switch off stop-writes-sys-memory-pct metric for the Aerospike Enterprise
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/AerospikeEnterpriseConfigurer.java
  embedded-aerospike-enterprise/src/main/java/com/playtika/testcontainers/aerospike/enterprise/AsadmCommandExecutor.java
  embedded-aerospike-enterprise/src/test/java/com/playtika/testcontainers/aerospike/enterprise/AsadmCommandExecutorTest.java
Labels: enhancement, feature, housekeeping

#1773 chore(deps): update releases-docker.jfrog.io/jfrog/artifactory-oss docker tag to v7.77.5
  embedded-artifactory/README.adoc
  embedded-artifactory/src/main/java/com/playtika/testcontainer/artifactory/ArtifactoryProperties.java
Labels: docker-update-images

#1772 chore(deps): update rancher/k3s docker tag to v1.29.1
  embedded-k3s/README.adoc
  embedded-k3s/src/main/java/com/playtika/testcontainer/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#1768 chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v8.12.1
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/testcontainer/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images

#1764 chore(deps): update aerospike/aerospike-server docker tag to v7.0.0.4
  embedded-aerospike/README.adoc
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/AerospikeProperties.java
Labels: docker-update-images

#1767 chore(deps): update clickhouse/clickhouse-server docker tag to v23.12.4
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1766 chore(deps): update authzed/spicedb docker tag to v1.29.1
  embedded-spicedb/README.adoc
  embedded-spicedb/src/main/java/com/playtika/testcontainer/spicedb/SpiceDBProperties.java
Labels: docker-update-images

#1776 chore(deps): update confluentinc/cp-kafka docker tag to v7.6.0
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/KafkaConfigurationProperties.java
Labels: docker-update-images

#1780 chore(deps): update clickhouse/clickhouse-server docker tag to v24
  embedded-clickhouse/README.adoc
  embedded-clickhouse/src/main/java/com/playtika/testcontainer/clickhouse/ClickHouseProperties.java
Labels: docker-update-images

#1775 chore(deps): update cockroachdb/cockroach docker tag to v23.2.0
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#1770 chore(deps): update grafana/grafana docker tag to v10.3.3
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#1781 chore(deps): update google/cloud-sdk docker tag to v464
  embedded-google-pubsub/README.adoc
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#1774 chore(deps): update apachepulsar/pulsar docker tag to v3.2.0
  embedded-pulsar/README.adoc
  embedded-pulsar/src/main/java/com/playtika/testcontainer/pulsar/PulsarProperties.java
Labels: docker-update-images

#1769 chore(deps): update fsouza/fake-gcs-server docker tag to v1.47.8
  embedded-google-storage/README.adoc
  embedded-google-storage/src/main/java/com/playtika/testcontainer/storage/StorageProperties.java
Labels: docker-update-images

#1778 chore(deps): update solr docker tag to v9.5
  embedded-solr/README.adoc
  embedded-solr/src/main/java/com/playtika/testcontainer/solr/SolrProperties.java
Labels: docker-update-images

#1777 chore(deps): update confluentinc/cp-schema-registry docker tag to v7.6.0
  embedded-kafka/README.adoc
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/SchemaRegistryConfigurationProperties.java
Labels: docker-update-images
