Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2024-04, with the labels that each got.

#1839 fix: Embedded Git container Network setup
  embedded-git/src/main/java/com/playtika/testcontainer/git/EmbeddedGitBootstrapConfiguration.java
  embedded-git/src/test/java/EmbeddedGitBootstrapConfigurationTest.java
Labels: bug

#1840 fix: Replace deprecated LocalStackContainer#getEndpointConfiguration API call
  embedded-localstack/src/main/java/com/playtika/test/localstack/EmbeddedLocalStackBootstrapConfiguration.java
Labels: bug

#1841 [Snyk] Security upgrade com.amazonaws:aws-java-sdk-s3 from 1.12.643 to 1.12.700
  embedded-localstack/pom.xml
Labels: enhancement, security

#1842 [Snyk] Security upgrade com.amazonaws:aws-java-sdk-s3 from 1.12.700 to 1.12.701
  embedded-localstack/pom.xml
Labels: dependencies, security

#1852 [Snyk] Security upgrade io.minio:minio from 8.5.9 to 8.5.10
  embedded-minio/pom.xml
Labels: dependencies, security
