Repository PlaytikaOSS/testcontainers-spring-boot, pull requests merged in 2025-05, with the labels that each got.

#2355 chore(deps): update rancher/k3s docker tag to v1.32.4
  embedded-k3s/README.adoc
  embedded-k3s/src/main/java/com/playtika/testcontainer/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#2358 chore(deps): update neo4j docker tag to v2025.04
  embedded-neo4j/README.adoc
  embedded-neo4j/src/main/java/com/playtika/testcontainer/neo4j/Neo4jProperties.java
Labels: docker-update-images

#2350 chore(deps): update aerospike/aerospike-server docker tag to v8.0.0.7
  embedded-aerospike/README.adoc
  embedded-aerospike/src/main/java/com/playtika/testcontainer/aerospike/AerospikeProperties.java
Labels: docker-update-images

#2354 chore(deps): update mongodb/mongodb-community-server docker tag to v8.0.9
  embedded-mongodb/README.adoc
Labels: docker-update-images

#2351 chore(deps): update aerospike/aerospike-server-enterprise docker tag to v8.0.0.7
  embedded-aerospike-enterprise/README.adoc
Labels: docker-update-images

#2356 chore(deps): update redis docker tag to v7.4.3
  embedded-redis/README.adoc
  embedded-redis/src/main/java/com/playtika/testcontainer/redis/RedisProperties.java
Labels: docker-update-images

#2357 chore(deps): update authzed/spicedb docker tag to v1.43.0
  embedded-spicedb/README.adoc
  embedded-spicedb/src/main/java/com/playtika/testcontainer/spicedb/SpiceDBProperties.java
Labels: docker-update-images

#2353 chore(deps): update grafana/grafana docker tag to v11.6.1
  embedded-grafana/README.adoc
  embedded-grafana/src/main/java/com/playtika/testcontainer/grafana/GrafanaProperties.java
Labels: docker-update-images

#2367 chore(deps): update google/cloud-sdk docker tag to v520
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#2365 chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v9
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/testcontainer/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images

#2363 chore(deps): update wiremock/wiremock docker tag to v3.13.0
  embedded-wiremock/README.adoc
  embedded-wiremock/src/main/java/com/playtika/testcontainers/wiremock/WiremockProperties.java
Labels: docker-update-images

#2364 chore(deps): update cockroachdb/cockroach docker tag to v25
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#2366 chore(deps): update ghcr.io/singlestore-labs/singlestoredb-dev docker tag to v8
  embedded-memsql/README.adoc
  embedded-memsql/src/main/java/com/playtika/testcontainer/memsql/MemSqlProperties.java
Labels: docker-update-images

#2362 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.116.0
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#2361 chore(deps): update rabbitmq docker tag to v4.1
  embedded-rabbitmq/README.adoc
  embedded-rabbitmq/src/main/java/com/playtika/testcontainer/rabbitmq/RabbitMQProperties.java
Labels: docker-update-images

#2360 chore(deps): update prom/prometheus docker tag to v3.3.1
  embedded-prometheus/README.adoc
  embedded-prometheus/src/main/java/com/playtika/testcontainer/prometheus/PrometheusProperties.java
Labels: docker-update-images

#2340 Add support for Temporal (#2339)
  embedded-temporal/README.adoc
  embedded-temporal/pom.xml
  embedded-temporal/src/main/java/com/playtika/testcontainer/temporal/EmbeddedTemporalBootstrapConfiguration.java
  embedded-temporal/src/main/java/com/playtika/testcontainer/temporal/TemporalProperties.java
  embedded-temporal/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  embedded-temporal/src/main/resources/META-INF/spring.factories
  embedded-temporal/src/test/java/com/playtika/testcontainer/temporal/EmbeddedTemporalBootstrapConfigurationTest.java
  embedded-temporal/src/test/resources/log4j2.xml
  pom.xml
  testcontainers-spring-boot-bom/pom.xml
Labels: good first issue, feature

#2370 chore(deps): update google/cloud-sdk docker tag to v521
  embedded-google-pubsub/src/main/java/com/playtika/testcontainer/pubsub/PubsubProperties.java
Labels: docker-update-images

#2371 chore(deps): update opensearchproject/opensearch docker tag to v3
  embedded-opensearch/README.adoc
  embedded-opensearch/src/main/java/com/playtika/testcontainer/opensearch/OpenSearchProperties.java
Labels: docker-update-images

#2369 chore(deps): update docker.elastic.co/elasticsearch/elasticsearch docker tag to v9.0.1
  embedded-elasticsearch/README.adoc
  embedded-elasticsearch/src/main/java/com/playtika/testcontainer/elasticsearch/ElasticSearchProperties.java
Labels: docker-update-images

#2381 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.117.0
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#2148 chore(deps): update solr docker tag to v9.7
  embedded-solr/README.adoc
  embedded-solr/src/main/java/com/playtika/testcontainer/solr/SolrProperties.java
Labels: help wanted, docker-update-images

#2380 chore(deps): update rancher/k3s docker tag to v1.33.0
  embedded-k3s/README.adoc
  embedded-k3s/src/main/java/com/playtika/testcontainer/k3s/K3sProperties.java
  embedded-k3s/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#2379 chore(deps): update localstack/localstack docker tag to v4.4.0
  embedded-localstack/README.adoc
  embedded-localstack/src/main/java/com/playtika/testcontainer/localstack/LocalStackProperties.java
  embedded-localstack/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: docker-update-images

#2377 chore(deps): update confluentinc/cp-kafka docker tag to v7.9.1
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/KafkaConfigurationProperties.java
Labels: docker-update-images

#2378 chore(deps): update confluentinc/cp-schema-registry docker tag to v7.9.1
  embedded-kafka/README.adoc
  embedded-kafka/src/main/java/com/playtika/testcontainer/kafka/properties/SchemaRegistryConfigurationProperties.java
Labels: docker-update-images

#2386 chore(deps): update couchbase/server docker tag to v7.6.6
  embedded-couchbase/README.adoc
  embedded-couchbase/src/main/java/com/playtika/testcontainer/couchbase/CouchbaseProperties.java
Labels: docker-update-images

#2388 chore(deps): update victoriametrics/victoria-metrics docker tag to v1.117.1
  embedded-victoriametrics/README.adoc
  embedded-victoriametrics/src/main/java/com/playtika/testcontainer/victoriametrics/VictoriaMetricsProperties.java
Labels: docker-update-images

#2385 chore(deps): update cockroachdb/cockroach docker tag to v25.1.6
  embedded-cockroachdb/README.adoc
  embedded-cockroachdb/src/main/java/com/playtika/testcontainer/cockroach/CockroachDBProperties.java
Labels: docker-update-images

#2390 chore(deps): update prom/prometheus docker tag to v3.4.0
  embedded-prometheus/README.adoc
  embedded-prometheus/src/main/java/com/playtika/testcontainer/prometheus/PrometheusProperties.java
Labels: docker-update-images

#2387 chore(deps): update redis docker tag to v8.0.1
  embedded-redis/README.adoc
  embedded-redis/src/main/java/com/playtika/testcontainer/redis/RedisProperties.java
Labels: docker-update-images

#2389 chore(deps): update authzed/spicedb docker tag to v1.44.0
  embedded-spicedb/README.adoc
  embedded-spicedb/src/main/java/com/playtika/testcontainer/spicedb/SpiceDBProperties.java
Labels: docker-update-images
